.footer {
  background-color: #000;
  padding: 100px 0;

  @include breakpoint(md){
    padding: 56px 20px;
  }

  @include breakpoint(sm){
    padding-left: 16px;
    padding-right: 16px;
  }

  &__header{
    display: flex;
    @include breakpoint(md){
      flex-direction: column;
    }
  }

  &__list{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    @include breakpoint(sm){
      margin-bottom: 19px;
    }
  }

  &__lists{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr .8fr;
    flex-basis: 67%;
    justify-content: space-between;
    column-gap: 15px;
    row-gap: 20px;
    @include breakpoint(lg){
      display: flex;
      //grid-template-columns: 30% 35% 35%;
    }
    @include breakpoint(md){
      display: flex;
      flex-wrap: wrap;

    }
    @include breakpoint(sm){
      flex-direction: column;
      flex-wrap: nowrap;
      row-gap: unset;
    }
  }

  &__acc-item{
    max-width: 193px;
    //width: 24%;
    &:last-child{
      @include breakpoint(lg){
        display: none;
      }
    }
    @include breakpoint(lg){
      flex-basis: 33%;
    }
    @include breakpoint(md){
      max-width: unset;
      flex-basis: 48%;
    }
    @include breakpoint(sm){
      padding-top: 19px;
      border-top: 1px solid #fff;
    }

    &.active{

    }
  }

  &__row {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 84px;
    @include breakpoint(sm){
      row-gap: unset;
    }
  }
  .footer__btn-txt{
    font-weight: 700;
    font-size: 18px;
    line-height: 145%;
    text-transform: uppercase;
    color: #FFFFFF;

  }
  &__logo-block {
    flex-basis: 33%;
    @include breakpoint(md){
      flex-basis: unset;
    }
    .footer__link{
        @include breakpoint(md){
          margin: 0 auto 40px;
          width: fit-content;
          display: block;
        }
    }
  }

  &__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    color: #999999;
    transition: color .3s ease-in-out;

    &:hover{
      color:#fff;
    }
  }

  .accordion {
  }

  .accordion__item {
  }

  .accordion__header {
  }

  .accordion__body {
  }

  &__list-about {
  }

  &__item {

  }
  &__list-outer{
    transition: .3s ease-in-out;

    @include breakpoint(sm){
      overflow: hidden;
      max-height: 0;
    }
  }
  &__contacts {
    display: flex;
    //flex-basis: 66%;

    @include breakpoint(lg){
      flex-direction: column;
      row-gap: 20px;
    }
    @include breakpoint(md){
      text-align: center;
    }
    @include breakpoint(sm){
      text-align: start;
    }
  }
  &__info{
    column-gap: 15px;

    display: grid;
    grid-template-columns: 1fr 202px 2fr;
    grid-template-rows: 1fr;
    flex-basis: 67%;
    margin-left: auto;

    @include breakpoint(lg){
      width: 100%;
      margin: 0;
      flex-basis: unset;
      //grid-template-rows: 200px 200px 1fr;
    }
    @include breakpoint(md){
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      //flex-wrap: wrap;
    }
    @include breakpoint(sm){
      row-gap: unset;
    }
  }
  &__contacts-btn {
  }

  .accordion-header {
  }

  &__socials-wrapper {
    max-width: 193px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //width: 24%;
    @include breakpoint(md){
      row-gap: 25px;
    }
    @include breakpoint(md){
      max-width: unset;
    }
  }
  &__btn{
    @include breakpoint(md){
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    @include breakpoint(sm){
      padding-right: 7px;
    }
    &.active{
     .footer__btn-icon{
       transform: rotate(180deg);
     }
    }
  }
  &__btn-icon{

    display: none;
    transition: .3s ease-in-out;
    @include breakpoint(sm){
      display: flex;

      svg{
        path{
            fill: #fff;
          }
        }
      }
  }

  &__socials {
    display: flex;
    column-gap: 20px;
    align-items: center;

    @include breakpoint(md){
      width: fit-content;
      margin: 0 auto;
    }
    @include breakpoint(sm){
      margin: 0;
    }
  }

  &__socials-telegram, &__socials-whatsapp{
    display: flex;

    svg{
      transition: transform .3s ease-in-out;
      width: 16px;
      height: 16px;
    }
    &:hover{
      svg{
        transform:scale(1.2);
      }
    }
  }

  &__socials-telegram {
    path{
      stroke: #fff;
    }
  }

  &__socials-whatsapp {
    svg{
      path{
        fill:#fff;
      }
    }
  }

  &__email {
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    color: #FFFFFF;

    &:visited{
      color:#fff;
    }
    .footer__email-txt{position: relative;
      &:before{
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        background-color: #fff;
        opacity: 0;
        left: 0;
        bottom: -1px;
        transition: opacity .3s ease-in-out;
      }
    }
    &:hover{
      .footer__email-txt{
        &:before{
          opacity: 1;
        }
      }
    }
    @include breakpoint(md){
      margin: 0 auto;
      display: inline-block;
    }
    @include breakpoint(sm){
      margin: 0;
    }
  }

  &__address {
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    color: #FFFFFF;
    //max-width: 193px;
    @include breakpoint(md){
      margin: 0 auto;
    }
    @include breakpoint(sm){
      max-width: 202px;
      margin:43px 0 36px 0;
    }
  }

  &__phone-wrapper {
    display:flex;
    flex-direction: column;

    @include breakpoint(md){
      row-gap: 16px;
      width: fit-content;
      margin: 0 auto;
    }
    @include breakpoint(sm){
      width: 100%;
      margin: 0;
    }
  }

  &__phone {
    font-weight: 400;
    font-size: 37px;
    line-height: 145%;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
    white-space: nowrap;
    width: fit-content;
    margin-left: auto;
    @include fluid-type(380px, $maxWidth, 32px, 37px);
    @include breakpoint(sm){
      margin-left: unset;
      text-align: start;
    }
  }

  &__schedule {
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    text-align: right;
    color: #FFFFFF;
    @include breakpoint(md){
      text-align: center;
    }
    @include breakpoint(sm){
      text-align: start;
    }
  }

  &__bottom {
    display: grid;
    grid-template-columns: 33% 33% 34%;
    @include breakpoint(md){
      display: flex;
      flex-wrap: wrap;
      gap: 15px;

      .footer__bottom-txt--start,
      .footer__bottom-txt--center,
      .footer__bottom-txt--end{
        width: 48%;
        @include breakpoint(sm){
          width: 100%;
        }
      }
    }

    @include breakpoint(sm){
      margin-top: 40px;
    }
  }


  &__bottom-txt {
  }

  &__bottom-txt--start {

  }
  &__contacts-title{
    display: none;
    @extend .footer__btn-txt;
    @include breakpoint(lg){
      display: block;
    }
    @include breakpoint(sm){
      padding: 19px 0;
      border-bottom: 1px solid #fff;
      border-top: 1px solid #fff;
    }
  }
  &__bottom-paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    color:#666666;
  }

  &__bottom-txt--center {
    width: 193px;
  }

  &__bottom-txt--end {
    margin-left: auto;
    .footer__bottom-paragraph{
      width: 240px;
      text-align: end;
    }
    @include breakpoint(md){
      margin-left: unset;
      .footer__bottom-paragraph{
        text-align: unset;
      }
    }
  }
}