.header{
  //display: none;
}

.nav {

  background-color: #fff;
  z-index: 2;

  @include breakpoint(md){
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    width: 100%;
  }
  @include breakpoint(sm){
    padding-left: 16px;
    padding-right: 16px;
  }
}
.nav__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #000;
  background-color: #fff;
  padding:28px 0;
  @include breakpoint(sm){
    padding: 16px 0;
  }
}
.center-align{
  flex: 1;

  &:first-child{
    margin-right: auto;
  }
  /*&:nth-child(3){


  }*/

}

.nav__right-content{


  &--md{
    display: none;
    @include breakpoint(md){
      display: flex;
      flex-direction: column-reverse;
      row-gap: 35px;
    }
  }
}

.nav__right-content-inner{
  display: flex;
  column-gap: 30px;
  margin-left: auto;
  width: fit-content;
  flex-wrap: wrap;
  justify-content: end;
  @include breakpoint(md){
    display: none;
  }
  .nav__telegram, .nav__whatsapp{
    svg{
      transition: .3s ease-in-out;
    }
    &:hover{
      svg{
        transform:scale(1.2);
        @include breakpoint(md){
          transform: unset;
        }
      }
    }
  }
}

.nav__phone{
  font-weight: 700;
  font-size: 22px;
  line-height: 145%;
  text-transform: uppercase;
  color:#000;
  display: block;
  white-space: nowrap;

  &:visited{
    color:#000;
  }
  @include breakpoint(md){
    color: #FFFFFF;
    &:visited{
      color: #fff;
    }
  }


}
.nav__socials{
  display: flex;
  column-gap: 12px;
  align-items: center;
  @include breakpoint(md){
    column-gap: 16px;
  }
}
.nav__telegram, .nav__whatsapp{
  @include breakpoint(md){
    background-color: #fff;
    border-radius: 50%;
    width: 58px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
      width: 24px;
      height: 24px;
    }
  }
}

.hamburger {
  display: none;

  @include breakpoint(md){
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    cursor: pointer;
    &.active .hamburger__bar:nth-child(2) {
      opacity: 0;
    }
    &.active .hamburger__bar:nth-child(1) {
      transform: translateY(7px) rotate(45deg);
      border-radius: 0;
      background-color: #fff;
    }
    &.active .hamburger__bar:nth-child(3) {
      transform: translateY(-7px) rotate(-45deg);
      border-radius: 0;
      background-color: #fff;
    }
    &.active:hover{
      .hamburger__bar:nth-child(3){
        transform: translateY(-7px) rotate(-45deg) scale(1.2);
        @include breakpoint(md){
          transform: translateY(-7px) rotate(-45deg) scale(1);
        }
      }
      .hamburger__bar:nth-child(1){
        transform: translateY(7px) rotate(45deg) scale(1.2);
        @include breakpoint(md){
          transform: translateY(7px) rotate(45deg) scale(1);
        }
      }
    }
  }
}

.hamburger__bar {
  display: block;
  width: 24px;
  height: 3px;
  //margin: 4px auto;
  transition: all 0.3s ease-in-out;
  background-color: #000;
  border-radius: 4px;
}
.nav__list{
  display: flex;
  column-gap: 47px;

  @include breakpoint(xl){
    flex-wrap: wrap;
    column-gap: calc(100vw/ 25.53);
  }
  @include breakpoint(md){
    flex-wrap: nowrap;
    margin: 32px 0 40px;
    gap: 32px;
    flex-direction: column;
    //text-align: center;
    justify-content: start;

    .nav__link{
      color: #fff;
    }
  }
  @include breakpoint(sm){
    gap: 24px;
  }
}
.nav__menu-inner{
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @include breakpoint(md){
    padding: 48px 32px;
    margin-left: auto;
    justify-content: start;
    background-color: black;
    height: 100%;
    width: 300px;
    min-width: 300px;
    align-items: start;
  }
  @include breakpoint(xs38){
    width: 100%;
  }
  //@include breakpoint(){}
}
.nav__menu {
  overflow: auto;

  &.active{
    @include breakpoint(md){
      background: linear-gradient(rgba(0,0,0,.3));
      //padding-bottom: 5rem;
      right: 0;
      height: 100%;
      justify-content: start;
    }
  }

  @include breakpoint(md){

    height: 100%;
    position: fixed;
    right: -100%;
    top: 0;
    background-color: #fff;
    width: 100%;
    border-radius: 0 0 10px 10px;
    transition: 0.3s;
    box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);

    /*&.active{
      right:0;
    }*/
  }
}

.nav__item {

  @include breakpoint(md){
    text-align: start;
    //margin:2.5rem 0;
  }
}
.nav__socials--link{
  @include breakpoint(md){
    transition: .3s ease-in-out;
    //svg{}

    &:first-child:hover{
      svg{
        path{
          stroke: #fff;
        }
      }
      background-color: #000000;
    }
    &:last-child:hover{
      svg{
        path{
          fill:#fff;
        }
      }
      background-color: #000000;
    }

  }
}
.nav__link{
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  position: relative;
  //white-space: nowrap;
  &:before{
    content: '';
    width:100%;
    height: 1px;
    background-color: #000;
    position: absolute;
    bottom: -1px;
    left: 0;
    opacity: 0;
    transition: opacity .3s ease-in;
    @include breakpoint(md){
      background-color: #fff;
    }
  }

  &:hover{
    color: #000;

    &:before{
      opacity: 1;
    }
    @include breakpoint(md){
     color:#fff;
    }
  }
}

.nav__logo-wrapper{
 width: fit-content;
  margin-right: auto;
}

.nav__logo {
  display: flex;

  &--white{
    display: none;
    @include breakpoint(md){
      display: block;
    }
  }
}

