@charset "utf-8";

@import "abstracts/_abstracts-dir";
@import "vendor/_vendor-dir";
@import "core/_core-dir";
@import "components/_components-dir";
@import "layouts/_layouts-dir";
@import "pages/_pages-dir";

.content{
  max-width: $maxWidth;
  margin: 0 auto;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #000;

  &.lock{
      overflow: hidden;
  }
}



.corners-wrapper{
  display: flex;
  position: absolute;
  bottom: -15px;
  left: 21px;

  @include breakpoint(md){
    left: 50%;
    transform: translate(-50%);
  }
}

.corner--topright,
.corner--topleft {
  width: 24px;
  height: 15px;
  overflow: hidden;
  position: relative;

  &:before {
    content: "";
    display: block;
    width: 200%;
    height: 200%;
    position: absolute;
    border-radius: 50%;
  }
}

.corner--topright:before {
  top: 0;
  left: 0;
  box-shadow: -12px -7.5px 0 0 #000;
}
.corner--topleft:before {
  top: 0;
  right: 0;
  box-shadow: 12px -7.5px 0 0 #000;
}



.question {
  width: fit-content;
  margin-bottom: 55px;
  position: relative;

  &-inner{
    background-color: #000;
    display: flex;
    align-items: center;
    padding: 3px 55px 3px 27px;

    @include breakpoint(sm){
      padding: 11px 36px 4px 36px;
    }
  }
  @include breakpoint(md){
    margin:0 auto 40px;
  }

  @include breakpoint(sm){
    //margin-bottom: 24px;

  }

}

.question-mark {
  margin-right: 27px;
  font-weight: 700;
  font-size: 66px;
  display: flex;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 1;
  @include breakpoint(sm){
    margin-right: 16px;
  }

}

.question-txt {
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 111px;
  @include fluid-type(380px, $maxWidth, 16px, 18px );
  @include breakpoint(sm){
    line-height: 145%;
  }
}



//##################  MARQUEE
.marquee__wrapper{
  display: flex;
  flex-direction: column;
}
.marquee{

}
.marquee__list{
  display: flex;
  gap: 31px;
  @include breakpoint(sm){
    gap: 14px;
  }
}
.js-marquee{
  margin-right: 31px !important;
  @include breakpoint(sm){
    margin-right: 14px !important;
  }
}
.marquee__item{
  font-size:70px;
  display: inline-block;
  font-weight: 700;
  @include fluid-type(380px, $maxWidth,32px, 70px);
}
.marquee__top{
  padding-top: 40px;
  border-top: 1px solid #000;
  @include breakpoint(md){
    padding-top: 32px;
  }
}
.marquee__bottom{
  padding-top: 20px;

  .marquee__list{
    display: flex;
    gap: 18px;
    align-items: center;
  }
  .marquee__item{
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    color: #000000;
  }
}
.marquee__link{
  color:#000;
  transition: .3s ease-in-out;
  &:visited{
    color:#000;
  }
  &:hover{
    color:#333333;
  }
}
//##################  MARQUEE END ########################\


.background-center{
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

//################## ALERT

.alert {
  display: flex;
  column-gap: 47px;
  align-items: center;
  @include breakpoint(xl){
    column-gap: calc(100vw / 25.53);
  }
  @include breakpoint(sm){
    flex-direction: column;
    row-gap: 40px;
  }
  &__txt {
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    color: #000;
    display: flex;
    column-gap: 23px;
    align-items: center;
    @include breakpoint(sm){
      column-gap: 12px;
      padding-top: 4px;
      align-items: start;
    }

  }

  &__exclamation-mark {
    width: 63px;
    min-width: 63px;
    height: 63px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    font-weight: 700;
    font-size: 48px;
    line-height: 145%;
    text-transform: uppercase;
    @include fluid-type(576px, $maxWidth, 24px, 48px);
    @include breakpoint(sm){
      width: 32px;
      min-width: 32px;
      height: 32px;
    }
  }

  &__desc {
  }

  &__btn {
    background-color: #000000;
    display: inline-block;
    padding: 24px 60px;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    white-space: nowrap;
    transition: .3s ease-in-out;
    height: fit-content;
    &:hover{
      background-color: #333333;
    }
    &:active{
      background-color: #000;
    }
    @include breakpoint(md){
      padding-left: 30px;
      padding-right: 30px;
    }
    @include breakpoint(sm){
      padding-right: 5px;
      padding-left: 5px;
      width: 100%;
    }
  }
}

//################## ALERT END

//###### DELIMITER
.item-delimiter {
  width: 100%;
  position: relative;
  height: 1px;

  &__inner{
    position: absolute;
    width: 100%;
    top: 50%;
    z-index: -1;
    transform:translateY(-50%);
  }
 /* &:first-child{
    .item-delimiter--inner{
      border:1px dotted #000;
    }
  }*/
}
.horizontal-normalization{
  transform: translateX(0) !important;
  opacity: 1 !important;
}
//###### DELIMITER