h1{
  font-weight: 700;
  font-size: 80px;
  line-height: 115%;
  text-transform: uppercase;
  color: #000000;
  @include fluid-type(380px, $maxWidth, 58px, 80px);
}

h2{
  font-weight: 700;
  font-size: 50px;
  line-height: 115%;
  text-transform: uppercase;
  color: #000000;
  @include fluid-type(380px, $maxWidth, 32px, 50px);
}