<section class="advantages">
    <div class="marquee__wrapper">
        <div class="marquee marquee__top">
            <div class="marquee__inner">
                <ul class="marquee__list " >
                    <li class="marquee__item">Наши преимущества</li>
                    <li class="marquee__item">/</li>
                    <li class="marquee__item">Наши преимущества</li>
                    <li class="marquee__item">/</li>
                    <li class="marquee__item">Наши преимущества</li>
                    <li class="marquee__item">/</li>
                    <li class="marquee__item">Наши преимущества</li>
                    <li class="marquee__item">/</li>
                    <li class="marquee__item">Наши преимущества</li>
                    <li class="marquee__item">/</li>
                    <li class="marquee__item">Наши преимущества</li>
                    <li class="marquee__item">/</li>
                    <li class="marquee__item">Наши преимущества</li>
                    <li class="marquee__item">/</li>
                </ul>
            </div>
        </div>
        <div class="marquee marquee__bottom">
            <div class="marquee__inner ">
                <ul class="marquee__list" aria-hidden="true">
                    <li class="marquee__item"><img src="img/horiz-line.svg" alt="Line"></li>
                    <li class="marquee__item"><a href="#" class="marquee__link">Опыт</a></li>
                    <li class="marquee__item"><img src="img/horiz-line.svg" alt="Line"></li>
                    <li class="marquee__item"><a href="#" class="marquee__link">Охват</a></li>
                    <li class="marquee__item"><img src="img/horiz-line.svg" alt="Line"></li>
                    <li class="marquee__item"><a href="#" class="marquee__link">Подход</a></li>
                    <li class="marquee__item"><img src="img/horiz-line.svg" alt="Line"></li>
                    <li class="marquee__item"><a href="#" class="marquee__link">Надежность</a></li>
                    <li class="marquee__item"><img src="img/horiz-line.svg" alt="Line"></li>
                    <li class="marquee__item"><a href="#" class="marquee__link">Практика</a></li>
                    <li class="marquee__item"><img src="img/horiz-line.svg" alt="Line"></li>
                    <li class="marquee__item"><a href="#" class="marquee__link">Ответственность</a></li>
                    <li class="marquee__item"><img src="img/horiz-line.svg" alt="Line"></li>
                    <li class="marquee__item"><a href="#" class="marquee__link">Опыт</a></li>
                    <li class="marquee__item"><img src="img/horiz-line.svg" alt="Line"></li>
                    <li class="marquee__item"><a href="#" class="marquee__link">Охват</a></li>
                    <li class="marquee__item"><img src="img/horiz-line.svg" alt="Line"></li>
                    <li class="marquee__item"><a href="#" class="marquee__link">Подход</a></li>
                    <li class="marquee__item"><img src="img/horiz-line.svg" alt="Line"></li>
                    <li class="marquee__item"><a href="#" class="marquee__link">Надежность</a></li>
                    <li class="marquee__item"><img src="img/horiz-line.svg" alt="Line"></li>
                    <li class="marquee__item"><a href="#" class="marquee__link">Практика</a></li>
                    <li class="marquee__item"><img src="img/horiz-line.svg" alt="Line"></li>
                    <li class="marquee__item"><a href="#" class="marquee__link">Ответственность</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="advantages__row">
            <div class="advantages__desc">
                <div class="advantages__line-wrapper">
                    <svg width="40" height="50" viewBox="0 0 40 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 50L29.7416 0H39.3228L9.58123 50H0Z" fill="black"/>
                    </svg>
                </div>
                <p class="advantages__subtitle">
                    Внешнее проявление бренда должно быть уникальным, идентифицирующим
                    и узнаваемым,
                    как отпечаток
                    пальцев
                </p>
            </div>
            <div class="advantages__right-content">
                <div class="advantages__list">
                    <div class="advantages__item">
                        <div class="advantages__item-inner">
                            <div class="advantages__item-title-wrapper">
                                <div class="advantages__item-number">01</div>
                                <p class="advantages__item-title">Опыт</p>
                            </div>
                            <p class="advantages__item-desc">
                                Предоставляем клиентам услуги с 2005 года
                            </p>
                        </div>
                        <div class="item-delimiter">
                            <div class="item-delimiter__inner"></div>
                        </div>
                    </div>

                    <div class="advantages__item">
                        <div class="advantages__item-inner">
                            <div class="advantages__item-title-wrapper">
                                <div class="advantages__item-number">02</div>
                                <p class="advantages__item-title">Охват</p>
                            </div>
                            <p class="advantages__item-desc">
                                Понимаем целостность образа компании во всех проявлениях
                            </p>
                        </div>
                        <div class="item-delimiter">
                            <div class="item-delimiter__inner"></div>
                        </div>
                    </div>

                    <div class="advantages__item">
                        <div class="advantages__item-inner">
                            <div class="advantages__item-title-wrapper">
                                <div class="advantages__item-number">03</div>
                                <p class="advantages__item-title">Подход</p>
                            </div>
                            <p class="advantages__item-desc">
                                Комплексно прорабатываем все элементы образа компании
                            </p>
                        </div>
                        <div class="item-delimiter">
                            <div class="item-delimiter__inner"></div>
                        </div>
                    </div>

                    <div class="advantages__item">
                        <div class="advantages__item-inner">
                            <div class="advantages__item-title-wrapper">
                                <div class="advantages__item-number">04</div>
                                <p class="advantages__item-title">Надежность</p>
                            </div>
                            <p class="advantages__item-desc">
                                Готовы работать в рамках сроков, установленных клиентом
                            </p>
                        </div>
                        <div class="item-delimiter">
                            <div class="item-delimiter__inner"></div>
                        </div>
                    </div>

                    <div class="advantages__item">
                        <div class="advantages__item-inner">
                            <div class="advantages__item-title-wrapper">
                                <div class="advantages__item-number">05</div>
                                <p class="advantages__item-title">Практика</p>
                            </div>
                            <p class="advantages__item-desc">
                                Имеем успешные кейсы по всем направлениям деятельности
                            </p>
                        </div>
                        <div class="item-delimiter">
                            <div class="item-delimiter__inner"></div>
                        </div>
                    </div>

                    <div class="advantages__item">
                        <div class="advantages__item-inner">
                            <div class="advantages__item-title-wrapper">
                                <div class="advantages__item-number">06</div>
                                <p class="advantages__item-title">Ответственность</p>
                            </div>
                            <p class="advantages__item-desc">
                                У нас два юридических лица — на ОСНО и УСНО: работая с нами по ОСНО, вы сможете
                                возмещать НДС даже с услуг
                            </p>
                        </div>
                        <div class="item-delimiter">
                            <div class="item-delimiter__inner"></div>
                        </div>
                    </div>

                    <div class="advantages__item">
                        <div class="advantages__item-inner">
                            <div class="advantages__item-title-wrapper">
                                <div class="advantages__item-number">07</div>
                                <p class="advantages__item-title">Преимущество 7</p>
                            </div>
                            <p class="advantages__item-desc">
                                Надо дописать. Готовы работать в рамках сроков, установленных клиентом
                            </p>
                        </div>
                        <div class="item-delimiter">
                            <div class="item-delimiter__inner"></div>
                        </div>
                    </div>

                    <div class="advantages__item">
                        <div class="advantages__item-inner">
                            <div class="advantages__item-title-wrapper">
                                <div class="advantages__item-number">08</div>
                                <p class="advantages__item-title">Преимущество 8</p>
                            </div>
                            <p class="advantages__item-desc">
                                Надо дописать. Имеем успешные кейсы по всем направлениям деятельности
                            </p>
                        </div>
                        <div class="item-delimiter">
                            <div class="item-delimiter__inner"></div>
                        </div>
                    </div>


                </div>
                <div class="alert">
                    <div class="alert__txt">
                        <p class="alert__exclamation-mark">!</p>
                        <p class="alert__desc">
                            Даём бесплатные рекомендации по актуализации образа компании
                        </p>
                    </div>
                    <a href="#" class="alert__btn">Узнать подробнее</a>
                </div>

            </div>
        </div>
    </div>
</section>