<section class="feedback">
    <div class="content">
        <div class="feedback__row">
            <h2 class="feedback__title">РАССКАЖИТЕ НАМ О СВОЁМ БИЗНЕСЕ</h2>
             <div class="feedback__img-wrapper">
                 <img src="img/feedback.png" alt="Microphone" class="feedback__img">
             </div>
            <div class="feedback__question-block">
                    <div class="question">
                        <div class="question-inner">
                            <p class="question-mark">!</p>
                            <p class="question-txt">
                                Мы проведём аудит, составим план комплексного
                                продвижения с учётом ваших задач и бюджета,
                                или предоставим единичные услуги,
                                необходимые вашему бизнесу
                            </p>
                        </div>
                        <div class="corners-wrapper">
                            <div  class="corner--topleft"></div>
                            <div  class="corner--topright"></div>
                        </div>
                    </div>
            </div>
            <form method="post" action="#" class="feedback__form" enctype="multipart/form-data">
                <div class="feedback__input-wrapper">
                    <input type="text" class="feedback__input" id="feedback__input-name" placeholder="Укажите ваше имя">
                    <label class="feedback__label" for="feedback__input-name">Ваше имя</label>
                </div>
                <div class="feedback__input-wrapper">
                    <input type="text" class="feedback__input" id="feedback__input-phone"
                           placeholder="Укажите ваш телефон">
                    <label class="feedback__label" for="feedback__input-phone">Телефон для связи</label>
                </div>
                <div class="feedback__input-wrapper">
                    <input type="text" class="feedback__input" id="feedback__input-email"
                           placeholder="Укажите вашу электронную почту">
                    <label class="feedback__label" for="feedback__input-email">Электронная почта</label>
                </div>
                <div class="feedback__last-form-element">
                    <div class="feedback__input-wrapper">
                        <input type="text" class="feedback__input" id="feedback__input-question"
                               placeholder="Задайте вопрос">
                        <label class="feedback__label" for="feedback__input-question">Задайте свой вопрос</label>
                    </div>
                    <div class="feedback__input-wrapper">
                        <label for="input-file" class="feedback__file-label">
                            <span class="feedback__file-label-txt">Прикрепите файл</span>
                            <span class="feedback__svg-wrapper">
                                <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.828 5.75689L7.17204 11.4139C7.07653 11.5061 7.00035 11.6165 6.94794 11.7385C6.89553 11.8605 6.86795 11.9917 6.86679 12.1245C6.86564 12.2573 6.89094 12.3889 6.94122 12.5118C6.9915 12.6347 7.06576 12.7464 7.15965 12.8403C7.25354 12.9342 7.36519 13.0084 7.48809 13.0587C7.61098 13.109 7.74267 13.1343 7.87544 13.1331C8.00822 13.132 8.13944 13.1044 8.26145 13.052C8.38345 12.9996 8.4938 12.9234 8.58604 12.8279L14.243 7.17189C14.8057 6.60923 15.1218 5.8461 15.1218 5.05039C15.1218 4.25467 14.8057 3.49154 14.243 2.92889C13.6804 2.36623 12.9173 2.05013 12.1215 2.05013C11.3258 2.05013 10.5627 2.36623 10 2.92889L4.34304 8.58589C3.86912 9.04802 3.49167 9.59965 3.2326 10.2088C2.97353 10.8179 2.83799 11.4724 2.83384 12.1344C2.82969 12.7963 2.95702 13.4525 3.20844 14.0648C3.45986 14.6771 3.83036 15.2334 4.29846 15.7015C4.76655 16.1695 5.32293 16.5399 5.9353 16.7913C6.54767 17.0426 7.20385 17.1698 7.86578 17.1656C8.52771 17.1614 9.1822 17.0257 9.7913 16.7666C10.4004 16.5074 10.952 16.1299 11.414 15.6559L17.071 9.99989L18.485 11.4139L12.828 17.0709C12.178 17.7209 11.4063 18.2366 10.557 18.5884C9.70764 18.9402 8.79734 19.1212 7.87804 19.1212C6.95874 19.1212 6.04844 18.9402 5.19912 18.5884C4.3498 18.2366 3.57809 17.7209 2.92804 17.0709C2.278 16.4208 1.76236 15.6491 1.41056 14.7998C1.05875 13.9505 0.877686 13.0402 0.877686 12.1209C0.877686 11.2016 1.05875 10.2913 1.41056 9.44197C1.76236 8.59264 2.278 7.82093 2.92804 7.17089L8.58604 1.51489C9.52905 0.604097 10.7921 0.100125 12.103 0.111517C13.414 0.122909 14.6681 0.648754 15.5951 1.57579C16.5222 2.50284 17.048 3.7569 17.0594 5.06788C17.0708 6.37887 16.5668 7.64188 15.656 8.58489L10 14.2439C9.72138 14.5225 9.39057 14.7435 9.0265 14.8942C8.66243 15.045 8.27223 15.1225 7.87819 15.1225C7.48414 15.1224 7.09397 15.0448 6.72993 14.894C6.3659 14.7431 6.03514 14.5221 5.75654 14.2434C5.47794 13.9647 5.25696 13.6339 5.10621 13.2698C4.95546 12.9058 4.87789 12.5156 4.87794 12.1215C4.87798 11.7275 4.95564 11.3373 5.10648 10.9733C5.25732 10.6092 5.47838 10.2785 5.75704 9.99989L11.414 4.34289L12.828 5.75689Z" fill="black"/>
                                </svg>
                            </span>
                        </label>
                        <input type="file" class="feedback__input-file" id="input-file">
                    </div>
                </div>
                <div class="feedback__form-bottom form-footer">
                    <div class="form-footer__socials-wrapper">
                        <div class="form-footer__socials">
                            <a href="#" class="form-footer__socials--whatsapp">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.25301 16.494L5.97701 16.917C7.19795 17.6291 8.5866 18.0029 10 18C11.5823 18 13.129 17.5308 14.4446 16.6518C15.7602 15.7727 16.7855 14.5233 17.3911 13.0615C17.9966 11.5997 18.155 9.99113 17.8463 8.43928C17.5376 6.88743 16.7757 5.46197 15.6569 4.34315C14.538 3.22433 13.1126 2.4624 11.5607 2.15372C10.0089 1.84504 8.40036 2.00346 6.93855 2.60896C5.47674 3.21447 4.22731 4.23984 3.34826 5.55544C2.46921 6.87103 2.00001 8.41775 2.00001 10C2.00001 11.436 2.37701 12.813 3.08401 14.024L3.50601 14.748L2.85301 17.149L5.25301 16.494ZM0.00401338 20L1.35601 15.032C0.465151 13.5049 -0.00289063 11.768 1.34322e-05 10C1.34322e-05 4.477 4.47701 0 10 0C15.523 0 20 4.477 20 10C20 15.523 15.523 20 10 20C8.23279 20.0029 6.49667 19.5352 4.97001 18.645L0.00401338 20ZM6.39101 5.308C6.52501 5.298 6.66001 5.298 6.79401 5.304C6.84801 5.308 6.90201 5.314 6.95601 5.32C7.11501 5.338 7.29001 5.435 7.34901 5.569C7.64701 6.245 7.93701 6.926 8.21701 7.609C8.27901 7.761 8.24201 7.956 8.12401 8.146C8.04286 8.27448 7.95507 8.39865 7.86101 8.518C7.74801 8.663 7.50501 8.929 7.50501 8.929C7.50501 8.929 7.40601 9.047 7.44401 9.194C7.45801 9.25 7.50401 9.331 7.54601 9.399L7.60501 9.494C7.86101 9.921 8.20501 10.354 8.62501 10.762C8.74501 10.878 8.86201 10.997 8.98801 11.108C9.45601 11.521 9.98601 11.858 10.558 12.108L10.563 12.11C10.648 12.147 10.691 12.167 10.815 12.22C10.877 12.246 10.941 12.269 11.006 12.286C11.0732 12.3031 11.1439 12.2999 11.2093 12.2767C11.2746 12.2536 11.3316 12.2116 11.373 12.156C12.097 11.279 12.163 11.222 12.169 11.222V11.224C12.2193 11.1771 12.2791 11.1415 12.3443 11.1196C12.4095 11.0977 12.4786 11.09 12.547 11.097C12.607 11.101 12.668 11.112 12.724 11.137C13.255 11.38 14.124 11.759 14.124 11.759L14.706 12.02C14.804 12.067 14.893 12.178 14.896 12.285C14.9 12.352 14.906 12.46 14.883 12.658C14.851 12.917 14.773 13.228 14.695 13.391C14.6416 13.5022 14.5707 13.6042 14.485 13.693C14.3841 13.7989 14.2736 13.8954 14.155 13.981C14.114 14.0119 14.0723 14.0419 14.03 14.071C13.9056 14.1499 13.7778 14.2233 13.647 14.291C13.3895 14.4278 13.1052 14.5063 12.814 14.521C12.629 14.531 12.444 14.545 12.258 14.535C12.25 14.535 11.69 14.448 11.69 14.448C10.2683 14.074 8.9534 13.3735 7.85001 12.402C7.62401 12.203 7.41501 11.989 7.20101 11.776C6.31101 10.891 5.63901 9.936 5.23101 9.034C5.02218 8.59129 4.90938 8.1094 4.90001 7.62C4.89589 7.01285 5.09436 6.42167 5.46401 5.94C5.53701 5.846 5.60601 5.748 5.72501 5.635C5.85201 5.515 5.93201 5.451 6.01901 5.407C6.13469 5.34903 6.26088 5.31502 6.39001 5.307L6.39101 5.308Z" fill="black"/>
                                </svg>

                            </a>
                            <a href="#" class="form-footer__socials--telegram">
                                <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13 7L9 11L15 17L19 1L1 8L5 10L7 16L10 12" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </a>
                        </div>
                        <p class="form-footer__desc">
                            Если у вас срочный вопрос, вы можете написать нам в мессенджерах
                        </p>
                    </div>
                    <div class="form-footer__submit-wrapper">
                        <button type="submit" class="form-footer__submit">Отправить заявку</button>
                        <p class="form-footer__privacy-policy">Нажимая на кнопку «Отправить заявку» я соглашаюсь на
                            обработку персональных данных</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>