<footer class="footer">
    <div class="content">
        <div class="footer__row">
            <div class="footer__header">
                <div class="footer__logo-block">
                    <a href="" class="footer__link">
                        <img src="img/footer-logo.svg" alt="Footer logo">
                    </a>
                </div>
                <div class="footer__lists accordion">
                    <div class="footer__acc-item accordion__item">
                        <button class="footer__btn accordion__header">
                            <span class="footer__btn-txt">О нас</span>
                            <span class="footer__btn-icon">
                                <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.00008 6L0.75708 1.757L2.17208 0.343002L5.00008 3.172L7.82808 0.343002L9.24308 1.757L5.00008 6Z" fill="black"/>
                                </svg>
                            </span>

                        </button>
                        <div class="footer__list-outer accordion__body">
                            <ul class="footer__list">
                                <li class="footer__item">
                                    <a href="#" class="footer__link">Дайджест</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="footer__link">Преимущества</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="footer__link">Отзывы</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="footer__link">Реквизиты</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer__acc-item accordion__item">
                        <button class="footer__btn accordion__header">
                            <span class="footer__btn-txt">Услуги</span>
                            <span class="footer__btn-icon">
                                <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.00008 6L0.75708 1.757L2.17208 0.343002L5.00008 3.172L7.82808 0.343002L9.24308 1.757L5.00008 6Z" fill="black"/>
                                </svg>
                            </span>

                        </button>
                        <div class="footer__list-outer accordion__body ">
                            <ul class="footer__list">
                                <li class="footer__item">
                                    <a href="#" class="footer__link">Создание контента</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="footer__link">Разработка дизайна</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="footer__link">Разработка и продвижение сайтов</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="footer__link">Создание мерча</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="footer__link">Изготовление эксклюзива</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer__acc-item accordion__item">
                        <button class="footer__btn accordion__header">
                            <span class="footer__btn-txt">Кейсы</span>
                            <span class="footer__btn-icon">
                                <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.00008 6L0.75708 1.757L2.17208 0.343002L5.00008 3.172L7.82808 0.343002L9.24308 1.757L5.00008 6Z" fill="black"/>
                                </svg>
                            </span>
                        </button>
                        <div class="footer__list-outer accordion__body">
                            <ul class="footer__list">
                                <li class="footer__item">
                                    <a href="#" class="footer__link">Создание контента</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="footer__link">Разработка дизайна</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="footer__link">Разработка и продвижение сайтов</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="footer__link">Создание мерча</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="footer__link">Изготовление эксклюзива</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer__acc-item accordion__item">
                        <p class="footer__btn accordion__header">
                            <span class="footer__btn-txt">Контакты</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="footer__contacts accordion__item">
                <p class="footer__contacts-title">
                    Контакты
                </p>
                <div class="footer__info accordion__body">
                    <div class="footer__socials-wrapper">
                        <div class="footer__socials">
                            <a href="#" class="footer__socials-telegram">
                                <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13 7L9 11L15 17L19 1L1 8L5 10L7 16L10 12" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </a>
                            <a href="#" class="footer__socials-whatsapp">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.25301 16.494L5.97701 16.917C7.19795 17.6291 8.5866 18.0029 10 18C11.5823 18 13.129 17.5308 14.4446 16.6518C15.7602 15.7727 16.7855 14.5233 17.3911 13.0615C17.9966 11.5997 18.155 9.99113 17.8463 8.43928C17.5376 6.88743 16.7757 5.46197 15.6569 4.34315C14.538 3.22433 13.1126 2.4624 11.5607 2.15372C10.0089 1.84504 8.40036 2.00346 6.93855 2.60896C5.47674 3.21447 4.22731 4.23984 3.34826 5.55544C2.46921 6.87103 2.00001 8.41775 2.00001 10C2.00001 11.436 2.37701 12.813 3.08401 14.024L3.50601 14.748L2.85301 17.149L5.25301 16.494ZM0.00401338 20L1.35601 15.032C0.465151 13.5049 -0.00289063 11.768 1.34322e-05 10C1.34322e-05 4.477 4.47701 0 10 0C15.523 0 20 4.477 20 10C20 15.523 15.523 20 10 20C8.23279 20.0029 6.49667 19.5352 4.97001 18.645L0.00401338 20ZM6.39101 5.308C6.52501 5.298 6.66001 5.298 6.79401 5.304C6.84801 5.308 6.90201 5.314 6.95601 5.32C7.11501 5.338 7.29001 5.435 7.34901 5.569C7.64701 6.245 7.93701 6.926 8.21701 7.609C8.27901 7.761 8.24201 7.956 8.12401 8.146C8.04286 8.27448 7.95507 8.39865 7.86101 8.518C7.74801 8.663 7.50501 8.929 7.50501 8.929C7.50501 8.929 7.40601 9.047 7.44401 9.194C7.45801 9.25 7.50401 9.331 7.54601 9.399L7.60501 9.494C7.86101 9.921 8.20501 10.354 8.62501 10.762C8.74501 10.878 8.86201 10.997 8.98801 11.108C9.45601 11.521 9.98601 11.858 10.558 12.108L10.563 12.11C10.648 12.147 10.691 12.167 10.815 12.22C10.877 12.246 10.941 12.269 11.006 12.286C11.0732 12.3031 11.1439 12.2999 11.2093 12.2767C11.2746 12.2536 11.3316 12.2116 11.373 12.156C12.097 11.279 12.163 11.222 12.169 11.222V11.224C12.2193 11.1771 12.2791 11.1415 12.3443 11.1196C12.4095 11.0977 12.4786 11.09 12.547 11.097C12.607 11.101 12.668 11.112 12.724 11.137C13.255 11.38 14.124 11.759 14.124 11.759L14.706 12.02C14.804 12.067 14.893 12.178 14.896 12.285C14.9 12.352 14.906 12.46 14.883 12.658C14.851 12.917 14.773 13.228 14.695 13.391C14.6416 13.5022 14.5707 13.6042 14.485 13.693C14.3841 13.7989 14.2736 13.8954 14.155 13.981C14.114 14.0119 14.0723 14.0419 14.03 14.071C13.9056 14.1499 13.7778 14.2233 13.647 14.291C13.3895 14.4278 13.1052 14.5063 12.814 14.521C12.629 14.531 12.444 14.545 12.258 14.535C12.25 14.535 11.69 14.448 11.69 14.448C10.2683 14.074 8.9534 13.3735 7.85001 12.402C7.62401 12.203 7.41501 11.989 7.20101 11.776C6.31101 10.891 5.63901 9.936 5.23101 9.034C5.02218 8.59129 4.90938 8.1094 4.90001 7.62C4.89589 7.01285 5.09436 6.42167 5.46401 5.94C5.53701 5.846 5.60601 5.748 5.72501 5.635C5.85201 5.515 5.93201 5.451 6.01901 5.407C6.13469 5.34903 6.26088 5.31502 6.39001 5.307L6.39101 5.308Z" fill="black"/>
                                </svg>
                            </a>
                        </div>
                        <a href="mailto:info@improve.promo" class="footer__email">
                            <span class="footer__email-txt">info@improve.promo</span>
                        </a>
                    </div>
                    <p class="footer__address">
                        Москва, Волоколамское шоссе, д. 2, офисы 23, 24
                    </p>
                    <div class="footer__phone-wrapper">
                        <a href="tel:+74952155580" class="footer__phone">+7 (495) 215 55 80</a>
                        <p class="footer__schedule">Пн – Пт с 9:00 до 19:00</p>
                    </div>
                </div>
            </div>

            <div class="footer__bottom">
                <div class="footer__bottom-txt footer__bottom-txt--start">
                    <p class="footer__bottom-paragraph">
                        Copyright © 2022
                    </p>
                    <p class="footer__bottom-paragraph">
                        Все права защищены
                    </p>
                </div>
                <div class="footer__bottom-txt footer__bottom-txt--center">
                    <p class="footer__bottom-paragraph">
                        Политика конфиденциальности
                    </p>
                </div>
                <div class="footer__bottom-txt footer__bottom-txt--end">
                    <p class="footer__bottom-paragraph">
                        Согласие на обработку персональных данных
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>