<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- МЕТА -->
    <title>@@title</title>
    <meta name="description" content="описание не длиннее 155 символов">
    <meta name="keywords" content="мета-теги, шаблон, html, css">
    <!-- Контролирует поведение поисковых систем при индексации страницы -->
    <meta name="robots" content="index,follow,noodp"><!-- Все поисковые системы -->
    <meta name="googlebot" content="index,follow"><!-- Указание отдельно для Google -->
    <!-- Позволяет указать Google не показывать в поисковой выдаче поле для поиска по сайту -->
    <meta name="google" content="nositelinkssearchbox"><!-- Позволяет указать Google не предлагать перевести эту страницу -->
    <meta name="google" content="notranslate"><!-- Подтверждает авторство страницы в Google Search Console -->
    <meta name="google-site-verification" content="verification_token"> <!-- Тег указания ПО, которое сгенерировало эту страницу -->
    <meta name="generator" content="program"><!-- Короткое описание тематики вашего сайта -->
    <meta name="subject" content="тематика вашего сайта"><!-- open graph Facebook-->
    <meta content="Заголовок">
    <meta content="website">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="css/main.min.css">
</head>