<header class="header">
    <div class="content">
        <nav class="nav">
            <div class="nav__inner">
                <div class="nav__logo-wrapper center-align">
                    <a href="#" class="nav__logo ">
                        <svg width="74" height="25" viewBox="0 0 74 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="74" height="24.3765" fill="black"/>
                            <path d="M16.0467 5.62132V18H13.4962V7.61926H8.52258V18H5.97203V5.62132H16.0467ZM23.6171 13.5875H20.4629V11.5981H23.6171C24.1045 11.5981 24.5013 11.5188 24.8073 11.3601C25.1134 11.1957 25.3373 10.969 25.479 10.6799C25.6207 10.3909 25.6915 10.065 25.6915 9.70221C25.6915 9.33379 25.6207 8.99089 25.479 8.67348C25.3373 8.35608 25.1134 8.10103 24.8073 7.90832C24.5013 7.71561 24.1045 7.61926 23.6171 7.61926H21.3471V18H18.7965V5.62132H23.6171C24.5863 5.62132 25.4166 5.79703 26.1081 6.14844C26.8053 6.49418 27.3381 6.97312 27.7065 7.58525C28.0749 8.19738 28.2591 8.89737 28.2591 9.6852C28.2591 10.4844 28.0749 11.1759 27.7065 11.7597C27.3381 12.3434 26.8053 12.794 26.1081 13.1114C25.4166 13.4288 24.5863 13.5875 23.6171 13.5875ZM33.1004 5.62132V18H30.5498V5.62132H33.1004ZM40.395 5.62132L35.6509 12.8904H32.5308L32.2077 10.6204H34.2906L37.3003 5.62132H40.395ZM37.7679 18L34.2991 12.4653L36.0675 10.6459L40.7945 18H37.7679ZM42.3966 5.62132H44.9557V9.42165C44.9557 9.96576 45.0379 10.3909 45.2022 10.6969C45.3723 11.003 45.6273 11.2184 45.9674 11.3431C46.3131 11.4621 46.7411 11.5216 47.2512 11.5216C47.4439 11.5216 47.6706 11.5131 47.9313 11.4961C48.1977 11.4791 48.4698 11.4536 48.7475 11.4196C49.0252 11.3799 49.2916 11.3374 49.5467 11.292C49.8017 11.241 50.0143 11.1844 50.1843 11.122V13.1114C50.0143 13.1681 49.8017 13.222 49.5467 13.273C49.2916 13.324 49.0252 13.3693 48.7475 13.409C48.4698 13.443 48.1977 13.4685 47.9313 13.4855C47.6706 13.5025 47.4439 13.511 47.2512 13.511C46.265 13.511 45.4091 13.3693 44.6836 13.0859C43.9581 12.8025 43.3942 12.3604 42.9918 11.7597C42.595 11.1532 42.3966 10.3739 42.3966 9.42165V5.62132ZM49.6487 5.62132H52.1992V18H49.6487V5.62132ZM56.0968 5.62132H58.2563L61.436 14.7098L64.6157 5.62132H66.7751L62.3032 18H60.5688L56.0968 5.62132ZM54.9321 5.62132H57.083L57.4741 14.4802V18H54.9321V5.62132ZM65.7889 5.62132H67.9484V18H65.3978V14.4802L65.7889 5.62132Z" fill="white"/>
                        </svg>
                    </a>
                </div>
                <div class="nav__menu center-align">
                    <div class="nav__menu-inner">
                        <a href="#" class="nav__logo nav__logo--white">
                            <svg width="74" height="25" viewBox="0 0 74 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="74" height="24.3765" fill="white"/>
                                <path d="M16.0467 5.62132V18H13.4962V7.61926H8.52258V18H5.97203V5.62132H16.0467ZM23.6171 13.5875H20.4629V11.5981H23.6171C24.1045 11.5981 24.5013 11.5188 24.8073 11.3601C25.1134 11.1957 25.3373 10.969 25.479 10.6799C25.6207 10.3909 25.6915 10.065 25.6915 9.70221C25.6915 9.33379 25.6207 8.99089 25.479 8.67348C25.3373 8.35608 25.1134 8.10103 24.8073 7.90832C24.5013 7.71561 24.1045 7.61926 23.6171 7.61926H21.3471V18H18.7965V5.62132H23.6171C24.5863 5.62132 25.4166 5.79703 26.1081 6.14844C26.8053 6.49418 27.3381 6.97312 27.7065 7.58525C28.0749 8.19738 28.2591 8.89737 28.2591 9.6852C28.2591 10.4844 28.0749 11.1759 27.7065 11.7597C27.3381 12.3434 26.8053 12.794 26.1081 13.1114C25.4166 13.4288 24.5863 13.5875 23.6171 13.5875ZM33.1004 5.62132V18H30.5498V5.62132H33.1004ZM40.395 5.62132L35.6509 12.8904H32.5308L32.2077 10.6204H34.2906L37.3003 5.62132H40.395ZM37.7679 18L34.2991 12.4653L36.0675 10.6459L40.7945 18H37.7679ZM42.3966 5.62132H44.9557V9.42165C44.9557 9.96576 45.0379 10.3909 45.2022 10.6969C45.3723 11.003 45.6273 11.2184 45.9674 11.3431C46.3131 11.4621 46.7411 11.5216 47.2512 11.5216C47.4439 11.5216 47.6706 11.5131 47.9313 11.4961C48.1977 11.4791 48.4698 11.4536 48.7475 11.4196C49.0252 11.3799 49.2916 11.3374 49.5467 11.292C49.8017 11.241 50.0143 11.1844 50.1843 11.122V13.1114C50.0143 13.1681 49.8017 13.222 49.5467 13.273C49.2916 13.324 49.0252 13.3693 48.7475 13.409C48.4698 13.443 48.1977 13.4685 47.9313 13.4855C47.6706 13.5025 47.4439 13.511 47.2512 13.511C46.265 13.511 45.4091 13.3693 44.6836 13.0859C43.9581 12.8025 43.3942 12.3604 42.9918 11.7597C42.595 11.1532 42.3966 10.3739 42.3966 9.42165V5.62132ZM49.6487 5.62132H52.1992V18H49.6487V5.62132ZM56.0968 5.62132H58.2563L61.436 14.7098L64.6157 5.62132H66.7751L62.3032 18H60.5688L56.0968 5.62132ZM54.9321 5.62132H57.083L57.4741 14.4802V18H54.9321V5.62132ZM65.7889 5.62132H67.9484V18H65.3978V14.4802L65.7889 5.62132Z" fill="black"/>
                            </svg>

                        </a>
                        <ul class="nav__list">
                            <li class="nav__item">
                                <a href="#" class="nav__link">О нас</a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">Услуги</a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">Кейсы</a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">Контакты</a>
                            </li>
                        </ul>
                        <div class="nav__right-content nav__right-content--md">
                        <div class="nav__socials">
                            <a href="#" class="nav__telegram nav__socials--link">
                                <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13 7L9 11L15 17L19 1L1 8L5 10L7 16L10 12" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </a>
                            <a href="#" class="nav__whatsapp nav__socials--link">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.25301 16.494L5.97701 16.917C7.19795 17.6291 8.5866 18.0029 10 18C11.5823 18 13.129 17.5308 14.4446 16.6518C15.7602 15.7727 16.7855 14.5233 17.3911 13.0615C17.9966 11.5997 18.155 9.99113 17.8463 8.43928C17.5376 6.88743 16.7757 5.46197 15.6569 4.34315C14.538 3.22433 13.1126 2.4624 11.5607 2.15372C10.0089 1.84504 8.40036 2.00346 6.93855 2.60896C5.47674 3.21447 4.22731 4.23984 3.34826 5.55544C2.46921 6.87103 2.00001 8.41775 2.00001 10C2.00001 11.436 2.37701 12.813 3.08401 14.024L3.50601 14.748L2.85301 17.149L5.25301 16.494ZM0.00401338 20L1.35601 15.032C0.465151 13.5049 -0.00289063 11.768 1.34322e-05 10C1.34322e-05 4.477 4.47701 0 10 0C15.523 0 20 4.477 20 10C20 15.523 15.523 20 10 20C8.23279 20.0029 6.49667 19.5352 4.97001 18.645L0.00401338 20ZM6.39101 5.308C6.52501 5.298 6.66001 5.298 6.79401 5.304C6.84801 5.308 6.90201 5.314 6.95601 5.32C7.11501 5.338 7.29001 5.435 7.34901 5.569C7.64701 6.245 7.93701 6.926 8.21701 7.609C8.27901 7.761 8.24201 7.956 8.12401 8.146C8.04286 8.27448 7.95507 8.39865 7.86101 8.518C7.74801 8.663 7.50501 8.929 7.50501 8.929C7.50501 8.929 7.40601 9.047 7.44401 9.194C7.45801 9.25 7.50401 9.331 7.54601 9.399L7.60501 9.494C7.86101 9.921 8.20501 10.354 8.62501 10.762C8.74501 10.878 8.86201 10.997 8.98801 11.108C9.45601 11.521 9.98601 11.858 10.558 12.108L10.563 12.11C10.648 12.147 10.691 12.167 10.815 12.22C10.877 12.246 10.941 12.269 11.006 12.286C11.0732 12.3031 11.1439 12.2999 11.2093 12.2767C11.2746 12.2536 11.3316 12.2116 11.373 12.156C12.097 11.279 12.163 11.222 12.169 11.222V11.224C12.2193 11.1771 12.2791 11.1415 12.3443 11.1196C12.4095 11.0977 12.4786 11.09 12.547 11.097C12.607 11.101 12.668 11.112 12.724 11.137C13.255 11.38 14.124 11.759 14.124 11.759L14.706 12.02C14.804 12.067 14.893 12.178 14.896 12.285C14.9 12.352 14.906 12.46 14.883 12.658C14.851 12.917 14.773 13.228 14.695 13.391C14.6416 13.5022 14.5707 13.6042 14.485 13.693C14.3841 13.7989 14.2736 13.8954 14.155 13.981C14.114 14.0119 14.0723 14.0419 14.03 14.071C13.9056 14.1499 13.7778 14.2233 13.647 14.291C13.3895 14.4278 13.1052 14.5063 12.814 14.521C12.629 14.531 12.444 14.545 12.258 14.535C12.25 14.535 11.69 14.448 11.69 14.448C10.2683 14.074 8.9534 13.3735 7.85001 12.402C7.62401 12.203 7.41501 11.989 7.20101 11.776C6.31101 10.891 5.63901 9.936 5.23101 9.034C5.02218 8.59129 4.90938 8.1094 4.90001 7.62C4.89589 7.01285 5.09436 6.42167 5.46401 5.94C5.53701 5.846 5.60601 5.748 5.72501 5.635C5.85201 5.515 5.93201 5.451 6.01901 5.407C6.13469 5.34903 6.26088 5.31502 6.39001 5.307L6.39101 5.308Z" fill="black"/>
                                </svg>

                            </a>
                        </div>
                        <a href="tel:+74952155580" class="nav__phone">+7 (495) 215 55 80</a>
                    </div>
                    </div>
                </div>
                <div class="nav__right-content center-align">
                    <div class="nav__right-content-inner">
                        <div class="nav__socials">
                            <a href="#" class="nav__telegram">
                                <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13 7L9 11L15 17L19 1L1 8L5 10L7 16L10 12" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </a>
                            <a href="#" class="nav__whatsapp">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.25301 16.494L5.97701 16.917C7.19795 17.6291 8.5866 18.0029 10 18C11.5823 18 13.129 17.5308 14.4446 16.6518C15.7602 15.7727 16.7855 14.5233 17.3911 13.0615C17.9966 11.5997 18.155 9.99113 17.8463 8.43928C17.5376 6.88743 16.7757 5.46197 15.6569 4.34315C14.538 3.22433 13.1126 2.4624 11.5607 2.15372C10.0089 1.84504 8.40036 2.00346 6.93855 2.60896C5.47674 3.21447 4.22731 4.23984 3.34826 5.55544C2.46921 6.87103 2.00001 8.41775 2.00001 10C2.00001 11.436 2.37701 12.813 3.08401 14.024L3.50601 14.748L2.85301 17.149L5.25301 16.494ZM0.00401338 20L1.35601 15.032C0.465151 13.5049 -0.00289063 11.768 1.34322e-05 10C1.34322e-05 4.477 4.47701 0 10 0C15.523 0 20 4.477 20 10C20 15.523 15.523 20 10 20C8.23279 20.0029 6.49667 19.5352 4.97001 18.645L0.00401338 20ZM6.39101 5.308C6.52501 5.298 6.66001 5.298 6.79401 5.304C6.84801 5.308 6.90201 5.314 6.95601 5.32C7.11501 5.338 7.29001 5.435 7.34901 5.569C7.64701 6.245 7.93701 6.926 8.21701 7.609C8.27901 7.761 8.24201 7.956 8.12401 8.146C8.04286 8.27448 7.95507 8.39865 7.86101 8.518C7.74801 8.663 7.50501 8.929 7.50501 8.929C7.50501 8.929 7.40601 9.047 7.44401 9.194C7.45801 9.25 7.50401 9.331 7.54601 9.399L7.60501 9.494C7.86101 9.921 8.20501 10.354 8.62501 10.762C8.74501 10.878 8.86201 10.997 8.98801 11.108C9.45601 11.521 9.98601 11.858 10.558 12.108L10.563 12.11C10.648 12.147 10.691 12.167 10.815 12.22C10.877 12.246 10.941 12.269 11.006 12.286C11.0732 12.3031 11.1439 12.2999 11.2093 12.2767C11.2746 12.2536 11.3316 12.2116 11.373 12.156C12.097 11.279 12.163 11.222 12.169 11.222V11.224C12.2193 11.1771 12.2791 11.1415 12.3443 11.1196C12.4095 11.0977 12.4786 11.09 12.547 11.097C12.607 11.101 12.668 11.112 12.724 11.137C13.255 11.38 14.124 11.759 14.124 11.759L14.706 12.02C14.804 12.067 14.893 12.178 14.896 12.285C14.9 12.352 14.906 12.46 14.883 12.658C14.851 12.917 14.773 13.228 14.695 13.391C14.6416 13.5022 14.5707 13.6042 14.485 13.693C14.3841 13.7989 14.2736 13.8954 14.155 13.981C14.114 14.0119 14.0723 14.0419 14.03 14.071C13.9056 14.1499 13.7778 14.2233 13.647 14.291C13.3895 14.4278 13.1052 14.5063 12.814 14.521C12.629 14.531 12.444 14.545 12.258 14.535C12.25 14.535 11.69 14.448 11.69 14.448C10.2683 14.074 8.9534 13.3735 7.85001 12.402C7.62401 12.203 7.41501 11.989 7.20101 11.776C6.31101 10.891 5.63901 9.936 5.23101 9.034C5.02218 8.59129 4.90938 8.1094 4.90001 7.62C4.89589 7.01285 5.09436 6.42167 5.46401 5.94C5.53701 5.846 5.60601 5.748 5.72501 5.635C5.85201 5.515 5.93201 5.451 6.01901 5.407C6.13469 5.34903 6.26088 5.31502 6.39001 5.307L6.39101 5.308Z" fill="black"/>
                                </svg>
                            </a>
                        </div>
                        <a href="tel:+74952155580" class="nav__phone">+7 (495) 215 55 80</a>
                    </div>
                </div>
                <div class="hamburger">
                <span class="hamburger__bar"></span>
                <span class="hamburger__bar"></span>
                <span class="hamburger__bar"></span>
            </div>
            </div>
        </nav>
    </div>
</header>