<section class="hero">
    <div class="content">
        <div class="hero__row">
            <div class="hero__header">
                <div class="hero__images">
                    <div class="hero__img-bg-wrapper">
                        <img src="img/hero-man.png" alt="Man">
                        <img src="img/plant.png" alt="Plant" class="hero__plant-img">
                    </div>
                    <div class="hero__top-circle">
                        <div class="hero__top-circle-center"></div>
                        <div class="hero__top-circle-txt">
                            <p class="hero__top-circle-paragraph">идеально • идеально • идеально • идеально •</p>
                        </div>
                    </div>

                </div>
                <div class="hero__title-wrapper">
                    <div class="question">
                        <div class="question-inner">
                            <p class="question-mark">?</p>
                            <p class="question-txt">ВЫ ХОТИТЕ ТАК...</p>
                        </div>
                        <div class="corners-wrapper">
                            <div  class="corner--topleft"></div>
                            <div  class="corner--topright"></div>
                        </div>
                    </div>
                    <h1 class="hero__title">Клиенты лояльны к вашему бренду</h1>
                </div>
            </div>

            <div class="hero__content">
                <div class="hero__circles">
                    <div class="hero__black-circle">
                        <div class="hero__circle"></div>
                        <div class="hero__circle"></div>
                        <p class="hero__circle-txt">
                            <span class="hero__circle-number">01.</span>
                            <span class="hero__circle-desc">
                                понимают и принимают его ценности
                            </span>
                        </p>
                    </div>
                    <div class="hero__black-circle">
                        <div class="hero__circle"></div>
                        <div class="hero__circle"></div>
                        <p class="hero__circle-txt">
                            <span class="hero__circle-number">02.</span>
                            <span class="hero__circle-desc">
                                не забывают о нём
                            </span>
                        </p>
                    </div>
                    <div class="hero__black-circle">
                        <div class="hero__circle"></div>
                        <div class="hero__circle"></div>
                        <p class="hero__circle-txt">
                            <span class="hero__circle-number">03.</span>
                            <span class="hero__circle-desc">
                                рассказывают о ваших продуктах знакомым
                            </span>
                        </p>
                    </div>
                </div>
                <div class="hero__table">
                    <div class="hero__table-col hero__table-col--left">
                        <p class="hero__table-title">Новые клиенты</p>
                        <p class="hero__table-body">Приходят и совершают покупки без настойчивых призывов с вашей
                            стороны, а по собственному желанию — они доверяют вашей компании
                        </p>
                    </div>
                    <div class="hero__table-col hero__table-col--right">
                        <p class="hero__table-title">Старые клиенты</p>
                        <p class="hero__table-body">Чувствуют связь с брендом и заботу о них</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>