<section class="offers">
    <div class="content">
        <div class="offers__row">
            <div class="offers__circle-block">
                <div class="offers__circle-wrapper">
                    <div class="offers__circle-black">
                        <p class="offers__circle-txt">
                            Достичь высоких результатов возможно только при работе с вами в полном контакте
                        </p>
                    </div>
                    <div class="offers__circle-common"></div>
                    <div class="offers__circle-common"></div>
                </div>
            </div>
            <div class="offers__content">
                <h2 class="offers__title">Что мы предлагаем?</h2>
                <div class="item-delimiter"><div class="item-delimiter__inner"></div></div>
                <div class="offers__desc">
                    <div class="offers__checkbox-wrapper">
                        <img src="img/check.svg" alt="Checkbox">
                    </div>

                    <p class="offers__txt">
                        <span class="offers__txt-bold">Мы поможем вашему бренду</span> стать ближе к желаемому образу и
                        поддерживать его в актуальном состоянии с точки зрения визуальной, смысловой и технической
                        частей.
                    </p>
                </div>
                <div class="item-delimiter"><div class="item-delimiter__inner"></div></div>
                <div class="offers__desc">
                    <div class="offers__checkbox-wrapper">
                        <img src="img/check.svg" alt="Checkbox">
                    </div>
                    <p class="offers__txt">
                        <span class="offers__txt-bold">Мы сделаем ваших потенциальных клиентов</span> реальными, укрепим
                        связь с каждым через грамотное оформление и постоянную актуализацию всех элементов образа
                        бренда.
                    </p>
                </div>
                <div class="item-delimiter"><div class="item-delimiter__inner"></div></div>
            </div>
        </div>
    </div>
</section>