<section class="possibility">
  <div class="content">
    <div class="possibility__row">
      <div class="content">
        <div class="question">
          <div class="question">
            <div class="question-inner">
              <p class="question-mark">?</p>
              <p class="question-txt">Это <br/>возможно?</p>
            </div>
            <div class="corners-wrapper">
              <div  class="corner--topleft"></div>
              <div  class="corner--topright"></div>
            </div>
          </div>
        </div>
        <h2 class="possibility__title">ДА, если создать фирменный стиль</h2>
        <div class="possibility__table">
          <div class="possibility__table-col">
            <div class="possibility__table-title">01</div>
            <div class="possibility__table-body">
              На его основе разрабатывать уникальный дизайн всех маркетинговых материалов
            </div>
          </div>
          <div class="possibility__table-col">
            <div class="possibility__table-title">02</div>
            <div class="possibility__table-body">
              Разработать сайт и продумать его будущее продвижение
            </div>
          </div>
          <div class="possibility__table-col">
            <div class="possibility__table-title">03</div>
            <div class="possibility__table-body">
              Внедрить мерч в бизнес-процессы
            </div>
          </div>
        </div>
        <div class="possibility__alerts">
          <div class="possibility__exclamation-mark">
            <span>!</span>
          </div>
          <div class="possibility__alerts-txt">
            Стоит ответственно относиться к каждому элементу образа бренда, осознавая, что они требуют постоянной
            доработки и актуализации, так как технологии и конкуренты не стоят на месте
          </div>


        </div>
      </div>
    </div>
  </div>
</section>