<section class="quality">
    <div class="content">
        <div class="quality__row">
            <div class="quality__question-wrapper">
                <div class="question">
                    <div class="question-inner">
                        <p class="question-mark">?</p>
                        <p class="question-txt">
                            Для начала вам необходимо честно ответить себе на вопросы, которые мы
                            подготовили
                        </p>
                    </div>
                    <div class="corners-wrapper">
                        <div  class="corner--topleft"></div>
                        <div  class="corner--topright"></div>
                    </div>
                </div>
            </div>
            <div class="quality__slider quality__slider--top swiper">
                <div class="quality__slider--inner swiper-wrapper">
                    <div class="quality__slide swiper-slide slide">
                        <div class="slide__inner">
                            <div class="slide__img-wrapper">
                                <img src="img/quality.png" alt="Mistakes" class="slide__img">
                            </div>
                            <h2 class="slide__title">Ваш контент качественный?</h2>
                            <div class="slide__list">
                                    <div class="slide__item">
                                        <div class="slide__question-mark">?</div>
                                        <div class="slide__paragraphs">
                                            <p class="slide__paragraph">
                                                <span class="slide__txt--bold">В текстах</span> нет опечаток и ошибок?
                                            </p>
                                            <p class="slide__paragraph">
                                                Они передают ценность ваших услуг?
                                            </p>
                                        </div>
                                    </div>

                                    <div class="slide__item">
                                        <div class="slide__question-mark">?</div>
                                        <div class="slide__paragraphs">
                                            <p class="slide__paragraph">
                                                <span class="slide__txt--bold">Фотографии</span> уникальны, не заимствованы
                                                у конкурентов?
                                            </p>
                                            <p class="slide__paragraph">
                                                Привлекают внимание и мотивируют клиента к покупке?
                                            </p>
                                        </div>
                                    </div>

                                    <div class="slide__item">
                                        <div class="slide__question-mark">?</div>
                                        <div class="slide__paragraphs">
                                            <p class="slide__paragraph">
                                                <span class="slide__txt--bold">Видео</span> отражают все преимущества бренда и выгоды от сотрудничества?
                                            </p>
                                            <p class="slide__paragraph">
                                                Формируют доверие?
                                            </p>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>

                    <div class="quality__slide swiper-slide slide">
                        <div class="slide__inner">
                            <div class="slide__img-wrapper">
                                <img src="img/quality-2.png" alt="Tambourine" class="slide__img">
                            </div>
                            <h2 class="slide__title">У вас есть правила оформления фирменного стиля?</h2>
                            <div class="slide__list">
                                <div class="slide__item">
                                    <div class="slide__question-mark">?</div>
                                    <div class="slide__paragraphs">
                                        <p class="slide__paragraph">
                                            <span class="slide__txt--bold">Ваш логотип</span> адаптирован для
                                            последующего создания рекламных материалов и брендирования продукции?
                                        </p>
                                    </div>
                                </div>

                                <div class="slide__item">
                                    <div class="slide__question-mark">?</div>
                                    <div class="slide__paragraphs">
                                        <p class="slide__paragraph">
                                            Все элементы <span class="slide__txt--bold">образа бренда</span> (сайт,
                                            мерч, полиграфия) единообразны?

                                        </p>
                                    </div>
                                </div>

                                <div class="slide__item">
                                    <div class="slide__question-mark">?</div>
                                    <div class="slide__paragraphs">
                                        <p class="slide__paragraph">
                                            <span class="slide__txt--bold">У вашего сайта</span> адаптивный дизайн? Он
                                            на всех устройствах одинаково удобен и красив?
                                        </p>
                                    </div>
                                </div>

                                <div class="slide__item">
                                    <div class="slide__question-mark">?</div>
                                    <div class="slide__paragraphs">
                                        <p class="slide__paragraph">
                                            Ваши клиенты легко <span class="slide__txt--bold">узнают ваш бренд</span>
                                            среди конкурентов?
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="quality__slide swiper-slide slide">
                        <div class="slide__inner">
                            <div class="slide__img-wrapper">
                                <img src="img/quality-3.png" alt="Darth Vader's mask" class="slide__img">
                            </div>
                            <h2 class="slide__title">У вас уже есть сайт? Знаете, как его продвигать?</h2>
                            <div class="slide__list">
                                <div class="slide__item">
                                    <div class="slide__question-mark">?</div>
                                    <div class="slide__paragraphs">
                                        <p class="slide__paragraph">
                                            Ваш сайт оптимизирован под поисковые системы Яндекс и Google?
                                        </p>
                                    </div>
                                </div>

                                <div class="slide__item">
                                    <div class="slide__question-mark">?</div>
                                    <div class="slide__paragraphs">
                                        <p class="slide__paragraph">
                                            Посетителям удобно им пользоваться? Вы вносите правки в навигацию сайта,
                                            делая его удобным на основе анализа?
                                        </p>
                                    </div>
                                </div>

                                <div class="slide__item">
                                    <div class="slide__question-mark">?</div>
                                    <div class="slide__paragraphs">
                                        <p class="slide__paragraph">
                                            На вашем сайте удобно редактировать информацию или это всегда «танцы с
                                            бубном» сложный процесс?
                                        </p>
                                    </div>
                                </div>

                                <div class="slide__item">
                                    <div class="slide__question-mark">?</div>
                                    <div class="slide__paragraphs">
                                        <p class="slide__paragraph">
                                            Актуальная ли информация на вашем сайте? Не вводите ли вы клиентов в
                                            заблуждение устаревшей информацией? Вам приходится постоянно извиняться при
                                            запросах за неактуальные данные о цене и ассортименте?
                                        </p>
                                    </div>
                                </div>

                                <div class="slide__item">
                                    <div class="slide__question-mark">?</div>
                                    <div class="slide__paragraphs">
                                        <p class="slide__paragraph">
                                            Ваша рекламная кампания оптимизирована? Она приносит результат? Или бюджет
                                            сливается, а конверсия слабая?
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="quality__slide swiper-slide slide">
                        <div class="slide__inner">
                            <div class="slide__img-wrapper">
                                <img src="img/quality-4.png" alt="Bad merch" class="slide__img">
                            </div>
                            <h2 class="slide__title">Вы используете мерч для общения с клиентами?</h2>
                            <div class="slide__list">
                                <div class="slide__item">
                                    <div class="slide__question-mark">?</div>
                                    <div class="slide__paragraphs">
                                        <p class="slide__paragraph">
                                            Мерч выполнен в корпоративном стиле?

                                        </p>
                                    </div>
                                </div>

                                <div class="slide__item">
                                    <div class="slide__question-mark">?</div>
                                    <div class="slide__paragraphs">
                                        <p class="slide__paragraph">
                                            Ваш мерч отличается от промо-продукции конкурентов? Или он как у всех?

                                        </p>
                                    </div>
                                </div>

                                <div class="slide__item">
                                    <div class="slide__question-mark">?</div>
                                    <div class="slide__paragraphs">
                                        <p class="slide__paragraph">
                                            Соответствуют ли ваши бизнес-подарки ожиданиям клиентов? Или они не имеют
                                            ценности для них, ими не пользуются или передаривают?
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="quality__sliders-delimiter sliders-delimiter">
                <p class="sliders-delimiter__question">Есть сомнения?</p>
                <div class="quality__slider-nav slider-nav">
                    <button class="slider-nav__btn slider-nav__btn--prev">
                        <svg width="26" height="8" viewBox="0 0 26 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.646446 4.35355C0.451185 4.15829 0.451185 3.84171 0.646446 3.64645L3.82843 0.464466C4.02369 0.269204 4.34027 0.269204 4.53553 0.464466C4.7308 0.659728 4.7308 0.976311 4.53553 1.17157L1.70711 4L4.53553 6.82843C4.7308 7.02369 4.7308 7.34027 4.53553 7.53553C4.34027 7.7308 4.02369 7.7308 3.82843 7.53553L0.646446 4.35355ZM26 4.5H1V3.5H26V4.5Z" fill="black"/>
                        </svg>
                    </button>
                    <p class="slider-nav__pagination"></p>
                    <button class="slider-nav__btn slider-nav__btn--next">
                        <svg width="26" height="8" viewBox="0 0 26 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25.3536 4.35355C25.5488 4.15829 25.5488 3.84171 25.3536 3.64645L22.1716 0.464466C21.9763 0.269204 21.6597 0.269204 21.4645 0.464466C21.2692 0.659728 21.2692 0.976311 21.4645 1.17157L24.2929 4L21.4645 6.82843C21.2692 7.02369 21.2692 7.34027 21.4645 7.53553C21.6597 7.7308 21.9763 7.7308 22.1716 7.53553L25.3536 4.35355ZM0 4.5H25V3.5H0V4.5Z" fill="black"/>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="quality__slider quality__slider--bottom swiper">
                <div class="quality__slider--inner swiper-wrapper">
                    <div class="quality__slide swiper-slide slide">
                        <div class="slide__inner">
                            <div class="slide__txt-wrapper">
                                <p class="slide__exclamation-point">!</p>
                                <p class="slide__alert-msg">
                                    Мы проведём аудит, выявим ошибки, дадим рекомендации и создадим экспертный контент
                                </p>
                            </div>
                            <a href="#" class="slide__more-btn">Узнать подробнее</a>
                        </div>
                    </div>

                    <div class="quality__slide swiper-slide slide">
                        <div class="slide__inner">
                            <div class="slide__txt-wrapper">
                                <p class="slide__exclamation-point">!</p>
                                <p class="slide__alert-msg">
                                    Мы проведём аудит, выявим ошибки, создадим правила вашего фирменного стиля и на его
                                    основе современный дизайн для всех носителей.
                                </p>
                            </div>
                            <a href="#" class="slide__more-btn">Узнать подробнее</a>
                        </div>
                    </div>

                    <div class="quality__slide swiper-slide slide">
                        <div class="slide__inner">
                            <div class="slide__txt-wrapper">
                                <p class="slide__exclamation-point">!</p>
                                <p class="slide__alert-msg">
                                    Мы проведём аудит, выявим ошибки, разработаем современный удобный сайт, оптимизируем
                                    его и запустим эффективную рекламу.
                                </p>
                            </div>
                            <a href="#" class="slide__more-btn">Узнать подробнее</a>
                        </div>
                    </div>

                    <div class="quality__slide swiper-slide slide">
                        <div class="slide__inner">
                            <div class="slide__txt-wrapper">
                                <p class="slide__exclamation-point">!</p>
                                <p class="slide__alert-msg">
                                    Мы проведём аудит, выявим ошибки, дадим рекомендации и создадим достойный мерч для
                                    вашего бренда
                                </p>
                            </div>
                            <a href="#" class="slide__more-btn">Узнать подробнее</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="quality__img-wrapper">
                <img src="img/quality.png" alt="Mistakes" class="quality__img">
            </div>-->

           <!-- <div class="quality__questions">
                <div class="quality__question">
                    <div class="quality__question-mark">
                        ?
                    </div>
                    <div class="quality__questions-wrapper">
                        <p class="quality__question-paragraph">
                            <span class="quality__txt-bold">В текстах</span> нет опечаток и ошибок?
                        </p>
                        <p class="quality__question-paragraph">Они передают ценность ваших услуг?</p>
                    </div>
                </div>

                <div class="quality__question">
                    <div class="quality__question-mark">
                        ?
                    </div>
                    <div class="quality__questions-wrapper">
                        <p class="quality__question-paragraph">
                            <span class="quality__txt-bold">Фотографии</span> уникальны, не заимствованы у конкурентов?
                        </p>
                        <p class="quality__question-paragraph">Привлекают внимание и мотивируют клиента к покупке?</p>
                    </div>
                </div>

                <div class="quality__question">
                    <div class="quality__question-mark">
                        ?
                    </div>
                    <div class="quality__questions-wrapper">
                        <p class="quality__question-paragraph">
                            <span class="quality__txt-bold">Видео</span> отражают все преимущества бренда и выгоды от
                            сотрудничества?
                        </p>
                        <p class="quality__question-paragraph">
                            Формируют доверие?
                        </p>
                    </div>
                </div>


            </div>-->
            <!--<div class="quality__slider-outer">
                <div class="quality__slider-header">
                    <div class="quality__slider-subtitle">Есть сомнения?</div>
                    <div class="quality__slider-nav">
                        <button class="quality__slider-btn quality__slider-btn-prev">
                            <svg width="26" height="8" viewBox="0 0 26 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.646446 4.35355C0.451185 4.15829 0.451185 3.84171 0.646446 3.64645L3.82843 0.464466C4.02369 0.269204 4.34027 0.269204 4.53553 0.464466C4.7308 0.659728 4.7308 0.976311 4.53553 1.17157L1.70711 4L4.53553 6.82843C4.7308 7.02369 4.7308 7.34027 4.53553 7.53553C4.34027 7.7308 4.02369 7.7308 3.82843 7.53553L0.646446 4.35355ZM26 4.5H1V3.5H26V4.5Z" fill="black"/>
                            </svg>
                        </button>
                        <div class="quality__slider-pagination swiper-pagination"></div>
                        <button class="quality__slider-btn quality__slider-btn-next">
                            <svg width="26" height="8" viewBox="0 0 26 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M25.3536 4.35355C25.5488 4.15829 25.5488 3.84171 25.3536 3.64645L22.1716 0.464466C21.9763 0.269204 21.6597 0.269204 21.4645 0.464466C21.2692 0.659728 21.2692 0.976311 21.4645 1.17157L24.2929 4L21.4645 6.82843C21.2692 7.02369 21.2692 7.34027 21.4645 7.53553C21.6597 7.7308 21.9763 7.7308 22.1716 7.53553L25.3536 4.35355ZM0 4.5H25V3.5H0V4.5Z" fill="black"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="quality__slider swiper">
                    <div class="quality__slider-inner swiper-wrapper">
                        <div class="quality__slide swiper-slide">
                            <div class="quality__slide-inner">
                                <div class="quality__slide-txt-wrapper">
                                    <div class="quality__exclamation-point">!</div>
                                    <p class="quality__slide-txt">
                                        Мы проведём аудит, выявим ошибки, дадим рекомендации и
                                        создадим экспертный контент
                                    </p>
                                </div>
                                <a href="#" class="quality__slide-btn">Узнать больше</a>
                            </div>
                        </div>

                        <div class="quality__slide swiper-slide">
                            <div class="quality__slide-inner">
                                <div class="quality__slide-txt-wrapper">
                                    <div class="quality__exclamation-point">!</div>
                                    <p class="quality__slide-txt">
                                        2 Мы проведём аудит, выявим ошибки, дадим рекомендации и
                                        создадим экспертный контент
                                    </p>
                                </div>
                                <a href="#" class="quality__slide-btn">Узнать больше</a>
                            </div>
                        </div>

                        <div class="quality__slide swiper-slide">
                            <div class="quality__slide-inner">
                                <div class="quality__slide-txt-wrapper">
                                    <div class="quality__exclamation-point">!</div>
                                    <p class="quality__slide-txt">
                                        3 Мы проведём аудит, выявим ошибки, дадим рекомендации и
                                        создадим экспертный контент
                                    </p>
                                </div>
                                <a href="#" class="quality__slide-btn">Узнать больше</a>
                            </div>
                        </div>

                        <div class="quality__slide swiper-slide">
                            <div class="quality__slide-inner">
                                <div class="quality__slide-txt-wrapper">
                                    <div class="quality__exclamation-point">!</div>
                                    <p class="quality__slide-txt">
                                        4 Мы проведём аудит, выявим ошибки, дадим рекомендации и
                                        создадим экспертный контент
                                    </p>
                                </div>
                                <a href="#" class="quality__slide-btn">Узнать больше</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</section>