<section class="reviews">
    <div class="content">
        <div class="reviews__row">
            <div class="reviews__circle-block">
                <div class="reviews__circle-inner">
                    <div class="reviews__circle-black">
                        <div class="reviews__circle-txt-wrapper">
                            <p class="reviews__circle-txt">
                                Эмоциональные отзывы наших клиентов
                            </p>
                            <a class="reviews__svg-wrapper">
                                <svg width="26" height="8" viewBox="0 0 26 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M25.3536 4.35355C25.5488 4.15829 25.5488 3.84171 25.3536 3.64645L22.1716 0.464466C21.9763 0.269204 21.6597 0.269204 21.4645 0.464466C21.2692 0.659728 21.2692 0.976311 21.4645 1.17157L24.2929 4L21.4645 6.82843C21.2692 7.02369 21.2692 7.34027 21.4645 7.53553C21.6597 7.7308 21.9763 7.7308 22.1716 7.53553L25.3536 4.35355ZM0 4.5H25V3.5H0V4.5Z" fill="black"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="reviews__circle-common"></div>
                    <div class="reviews__circle-common"></div>
                </div>
            </div>
            <div class="reviews__gratitude-desc">
                <div class="reviews__line-wrapper">
                    <svg width="40" height="50" viewBox="0 0 40 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 50L29.7416 0H39.3228L9.58123 50H0Z" fill="black"/>
                    </svg>
                </div>
                <p class="reviews__gratitude-subtitle">О КОМПАНИИ
                    И РЕШЕНИИ ЗАДАЧ
                    ВАШЕГО БИЗНЕСА
                </p>
            </div>
            <div class="reviews__right-content">
                <div class="reviews__title-wrapper">
                    <h2 class="reviews__title">Отзывы</h2>
                    <div class="item-delimiter"><div class="item-delimiter__inner"></div></div>
                </div>
                <div class="reviews__slider swiper">
                    <div class="reviews__slider-inner swiper-wrapper">
                        <div class="reviews__slide swiper-slide">
                            <div class="reviews__reviewer-info">
                                <p class="reviews__reviewer-name">
                                    Элеонора Дубинина
                                </p>
                                <div class="reviews__stars-rating">
                                    <div class="reviews__star-wrapper reviews__star-active">
                                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.99999 15L4.12199 18.59L5.71999 11.89L0.48999 7.41L7.35499 6.86L9.99999 0.5L12.645 6.86L19.511 7.41L14.28 11.89L15.878 18.59L9.99999 15ZM9.99999 12.656L12.817 14.376L12.051 11.166L14.558 9.019L11.268 8.755L9.99999 5.708L8.73199 8.755L5.44199 9.019L7.94899 11.166L7.18299 14.376L9.99999 12.657V12.656Z" fill="black"/>
                                        </svg>
                                    </div>
                                    <div class="reviews__star-wrapper reviews__star-active">
                                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.99999 15L4.12199 18.59L5.71999 11.89L0.48999 7.41L7.35499 6.86L9.99999 0.5L12.645 6.86L19.511 7.41L14.28 11.89L15.878 18.59L9.99999 15ZM9.99999 12.656L12.817 14.376L12.051 11.166L14.558 9.019L11.268 8.755L9.99999 5.708L8.73199 8.755L5.44199 9.019L7.94899 11.166L7.18299 14.376L9.99999 12.657V12.656Z" fill="black"/>
                                        </svg>
                                    </div>
                                    <div class="reviews__star-wrapper reviews__star-active">
                                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.99999 15L4.12199 18.59L5.71999 11.89L0.48999 7.41L7.35499 6.86L9.99999 0.5L12.645 6.86L19.511 7.41L14.28 11.89L15.878 18.59L9.99999 15ZM9.99999 12.656L12.817 14.376L12.051 11.166L14.558 9.019L11.268 8.755L9.99999 5.708L8.73199 8.755L5.44199 9.019L7.94899 11.166L7.18299 14.376L9.99999 12.657V12.656Z" fill="black"/>
                                        </svg>
                                    </div>
                                    <div class="reviews__star-wrapper reviews__star-active">
                                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.99999 15L4.12199 18.59L5.71999 11.89L0.48999 7.41L7.35499 6.86L9.99999 0.5L12.645 6.86L19.511 7.41L14.28 11.89L15.878 18.59L9.99999 15ZM9.99999 12.656L12.817 14.376L12.051 11.166L14.558 9.019L11.268 8.755L9.99999 5.708L8.73199 8.755L5.44199 9.019L7.94899 11.166L7.18299 14.376L9.99999 12.657V12.656Z" fill="black"/>
                                        </svg>
                                    </div>
                                    <div class="reviews__star-wrapper reviews__star-active">
                                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.99999 15L4.12199 18.59L5.71999 11.89L0.48999 7.41L7.35499 6.86L9.99999 0.5L12.645 6.86L19.511 7.41L14.28 11.89L15.878 18.59L9.99999 15ZM9.99999 12.656L12.817 14.376L12.051 11.166L14.558 9.019L11.268 8.755L9.99999 5.708L8.73199 8.755L5.44199 9.019L7.94899 11.166L7.18299 14.376L9.99999 12.657V12.656Z" fill="black"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="reviews__comment">
                                <p class="reviews__comment-paragraph">
                                    Долго искала ежедневники, которые подходили бы по цвету под нашу корпоративную
                                    палитру. Нашла подходящие в BIZGIFT™. Менеджер предложил различные возможности для
                                    персонализации, выбрали тиснение логотипа и оригинальный форзац/нахзац. Затем
                                    получили качественную визуализацию, оформили заказ и оперативно получили готовые
                                    изделия, которыми очень довольны.
                                </p>
                                <p class="reviews__comment-paragraph">
                                    Спасибо компании BIZGIFT™, будем обращаться и дальше!
                                </p>
                            </div>
                        </div>
                        <div class="reviews__slide swiper-slide">
                            <div class="reviews__reviewer-info">
                                <p class="reviews__reviewer-name">
                                    Элеонора Дубинина
                                </p>
                                <div class="reviews__stars-rating">
                                    <div class="reviews__star-wrapper reviews__star-active">
                                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.99999 15L4.12199 18.59L5.71999 11.89L0.48999 7.41L7.35499 6.86L9.99999 0.5L12.645 6.86L19.511 7.41L14.28 11.89L15.878 18.59L9.99999 15ZM9.99999 12.656L12.817 14.376L12.051 11.166L14.558 9.019L11.268 8.755L9.99999 5.708L8.73199 8.755L5.44199 9.019L7.94899 11.166L7.18299 14.376L9.99999 12.657V12.656Z" fill="black"/>
                                        </svg>
                                    </div>
                                    <div class="reviews__star-wrapper reviews__star-active">
                                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.99999 15L4.12199 18.59L5.71999 11.89L0.48999 7.41L7.35499 6.86L9.99999 0.5L12.645 6.86L19.511 7.41L14.28 11.89L15.878 18.59L9.99999 15ZM9.99999 12.656L12.817 14.376L12.051 11.166L14.558 9.019L11.268 8.755L9.99999 5.708L8.73199 8.755L5.44199 9.019L7.94899 11.166L7.18299 14.376L9.99999 12.657V12.656Z" fill="black"/>
                                        </svg>
                                    </div>
                                    <div class="reviews__star-wrapper reviews__star-active">
                                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.99999 15L4.12199 18.59L5.71999 11.89L0.48999 7.41L7.35499 6.86L9.99999 0.5L12.645 6.86L19.511 7.41L14.28 11.89L15.878 18.59L9.99999 15ZM9.99999 12.656L12.817 14.376L12.051 11.166L14.558 9.019L11.268 8.755L9.99999 5.708L8.73199 8.755L5.44199 9.019L7.94899 11.166L7.18299 14.376L9.99999 12.657V12.656Z" fill="black"/>
                                        </svg>
                                    </div>
                                    <div class="reviews__star-wrapper reviews__star-active">
                                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.99999 15L4.12199 18.59L5.71999 11.89L0.48999 7.41L7.35499 6.86L9.99999 0.5L12.645 6.86L19.511 7.41L14.28 11.89L15.878 18.59L9.99999 15ZM9.99999 12.656L12.817 14.376L12.051 11.166L14.558 9.019L11.268 8.755L9.99999 5.708L8.73199 8.755L5.44199 9.019L7.94899 11.166L7.18299 14.376L9.99999 12.657V12.656Z" fill="black"/>
                                        </svg>
                                    </div>
                                    <div class="reviews__star-wrapper reviews__star-active">
                                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.99999 15L4.12199 18.59L5.71999 11.89L0.48999 7.41L7.35499 6.86L9.99999 0.5L12.645 6.86L19.511 7.41L14.28 11.89L15.878 18.59L9.99999 15ZM9.99999 12.656L12.817 14.376L12.051 11.166L14.558 9.019L11.268 8.755L9.99999 5.708L8.73199 8.755L5.44199 9.019L7.94899 11.166L7.18299 14.376L9.99999 12.657V12.656Z" fill="black"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="reviews__comment">
                                <p class="reviews__comment-paragraph">
                                    Долго искала ежедневники, которые подходили бы по цвету под нашу корпоративную
                                    палитру. Нашла подходящие в BIZGIFT™. Менеджер предложил различные возможности для
                                    персонализации, выбрали тиснение логотипа и оригинальный форзац/нахзац. Затем
                                    получили качественную визуализацию, оформили заказ и оперативно получили готовые
                                    изделия, которыми очень довольны.
                                </p>
                                <p class="reviews__comment-paragraph">
                                    Спасибо компании BIZGIFT™, будем обращаться и дальше!
                                </p>
                            </div>
                        </div>
                        <div class="reviews__slide swiper-slide">
                            <div class="reviews__reviewer-info">
                                <p class="reviews__reviewer-name">
                                    Элеонора Дубинина
                                </p>
                                <div class="reviews__stars-rating">
                                    <div class="reviews__star-wrapper reviews__star-active">
                                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.99999 15L4.12199 18.59L5.71999 11.89L0.48999 7.41L7.35499 6.86L9.99999 0.5L12.645 6.86L19.511 7.41L14.28 11.89L15.878 18.59L9.99999 15ZM9.99999 12.656L12.817 14.376L12.051 11.166L14.558 9.019L11.268 8.755L9.99999 5.708L8.73199 8.755L5.44199 9.019L7.94899 11.166L7.18299 14.376L9.99999 12.657V12.656Z" fill="black"/>
                                        </svg>
                                    </div>
                                    <div class="reviews__star-wrapper reviews__star-active">
                                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.99999 15L4.12199 18.59L5.71999 11.89L0.48999 7.41L7.35499 6.86L9.99999 0.5L12.645 6.86L19.511 7.41L14.28 11.89L15.878 18.59L9.99999 15ZM9.99999 12.656L12.817 14.376L12.051 11.166L14.558 9.019L11.268 8.755L9.99999 5.708L8.73199 8.755L5.44199 9.019L7.94899 11.166L7.18299 14.376L9.99999 12.657V12.656Z" fill="black"/>
                                        </svg>
                                    </div>
                                    <div class="reviews__star-wrapper reviews__star-active">
                                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.99999 15L4.12199 18.59L5.71999 11.89L0.48999 7.41L7.35499 6.86L9.99999 0.5L12.645 6.86L19.511 7.41L14.28 11.89L15.878 18.59L9.99999 15ZM9.99999 12.656L12.817 14.376L12.051 11.166L14.558 9.019L11.268 8.755L9.99999 5.708L8.73199 8.755L5.44199 9.019L7.94899 11.166L7.18299 14.376L9.99999 12.657V12.656Z" fill="black"/>
                                        </svg>
                                    </div>
                                    <div class="reviews__star-wrapper reviews__star-active">
                                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.99999 15L4.12199 18.59L5.71999 11.89L0.48999 7.41L7.35499 6.86L9.99999 0.5L12.645 6.86L19.511 7.41L14.28 11.89L15.878 18.59L9.99999 15ZM9.99999 12.656L12.817 14.376L12.051 11.166L14.558 9.019L11.268 8.755L9.99999 5.708L8.73199 8.755L5.44199 9.019L7.94899 11.166L7.18299 14.376L9.99999 12.657V12.656Z" fill="black"/>
                                        </svg>
                                    </div>
                                    <div class="reviews__star-wrapper reviews__star-active">
                                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.99999 15L4.12199 18.59L5.71999 11.89L0.48999 7.41L7.35499 6.86L9.99999 0.5L12.645 6.86L19.511 7.41L14.28 11.89L15.878 18.59L9.99999 15ZM9.99999 12.656L12.817 14.376L12.051 11.166L14.558 9.019L11.268 8.755L9.99999 5.708L8.73199 8.755L5.44199 9.019L7.94899 11.166L7.18299 14.376L9.99999 12.657V12.656Z" fill="black"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="reviews__comment">
                                <p class="reviews__comment-paragraph">
                                    Долго искала ежедневники, которые подходили бы по цвету под нашу корпоративную
                                    палитру. Нашла подходящие в BIZGIFT™. Менеджер предложил различные возможности для
                                    персонализации, выбрали тиснение логотипа и оригинальный форзац/нахзац. Затем
                                    получили качественную визуализацию, оформили заказ и оперативно получили готовые
                                    изделия, которыми очень довольны.
                                </p>
                                <p class="reviews__comment-paragraph">
                                    Спасибо компании BIZGIFT™, будем обращаться и дальше!
                                </p>
                            </div>
                        </div>
                        <div class="reviews__slide swiper-slide">
                            <div class="reviews__reviewer-info">
                                <p class="reviews__reviewer-name">
                                    Элеонора Дубинина
                                </p>
                                <div class="reviews__stars-rating">
                                    <div class="reviews__star-wrapper reviews__star-active">
                                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.99999 15L4.12199 18.59L5.71999 11.89L0.48999 7.41L7.35499 6.86L9.99999 0.5L12.645 6.86L19.511 7.41L14.28 11.89L15.878 18.59L9.99999 15ZM9.99999 12.656L12.817 14.376L12.051 11.166L14.558 9.019L11.268 8.755L9.99999 5.708L8.73199 8.755L5.44199 9.019L7.94899 11.166L7.18299 14.376L9.99999 12.657V12.656Z" fill="black"/>
                                        </svg>
                                    </div>
                                    <div class="reviews__star-wrapper reviews__star-active">
                                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.99999 15L4.12199 18.59L5.71999 11.89L0.48999 7.41L7.35499 6.86L9.99999 0.5L12.645 6.86L19.511 7.41L14.28 11.89L15.878 18.59L9.99999 15ZM9.99999 12.656L12.817 14.376L12.051 11.166L14.558 9.019L11.268 8.755L9.99999 5.708L8.73199 8.755L5.44199 9.019L7.94899 11.166L7.18299 14.376L9.99999 12.657V12.656Z" fill="black"/>
                                        </svg>
                                    </div>
                                    <div class="reviews__star-wrapper reviews__star-active">
                                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.99999 15L4.12199 18.59L5.71999 11.89L0.48999 7.41L7.35499 6.86L9.99999 0.5L12.645 6.86L19.511 7.41L14.28 11.89L15.878 18.59L9.99999 15ZM9.99999 12.656L12.817 14.376L12.051 11.166L14.558 9.019L11.268 8.755L9.99999 5.708L8.73199 8.755L5.44199 9.019L7.94899 11.166L7.18299 14.376L9.99999 12.657V12.656Z" fill="black"/>
                                        </svg>
                                    </div>
                                    <div class="reviews__star-wrapper reviews__star-active">
                                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.99999 15L4.12199 18.59L5.71999 11.89L0.48999 7.41L7.35499 6.86L9.99999 0.5L12.645 6.86L19.511 7.41L14.28 11.89L15.878 18.59L9.99999 15ZM9.99999 12.656L12.817 14.376L12.051 11.166L14.558 9.019L11.268 8.755L9.99999 5.708L8.73199 8.755L5.44199 9.019L7.94899 11.166L7.18299 14.376L9.99999 12.657V12.656Z" fill="black"/>
                                        </svg>
                                    </div>
                                    <div class="reviews__star-wrapper reviews__star-active">
                                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.99999 15L4.12199 18.59L5.71999 11.89L0.48999 7.41L7.35499 6.86L9.99999 0.5L12.645 6.86L19.511 7.41L14.28 11.89L15.878 18.59L9.99999 15ZM9.99999 12.656L12.817 14.376L12.051 11.166L14.558 9.019L11.268 8.755L9.99999 5.708L8.73199 8.755L5.44199 9.019L7.94899 11.166L7.18299 14.376L9.99999 12.657V12.656Z" fill="black"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="reviews__comment">
                                <p class="reviews__comment-paragraph">
                                    Долго искала ежедневники, которые подходили бы по цвету под нашу корпоративную
                                    палитру. Нашла подходящие в BIZGIFT™.
                                </p>
                                <p class="reviews__comment-paragraph">
                                    Спасибо компании BIZGIFT™, будем обращаться и дальше!
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="reviews__slider-nav">
                    <p class="reviews__slider-nav-source">
                        Источник: 2gis.ru
                    </p>
                    <div class="reviews__slider-nav-inner">
                        <button class="reviews__slider-btn-prev">
                            <svg width="26" height="8" viewBox="0 0 26 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.646446 4.35355C0.451185 4.15829 0.451185 3.84171 0.646446 3.64645L3.82843 0.464466C4.02369 0.269204 4.34027 0.269204 4.53553 0.464466C4.7308 0.659728 4.7308 0.976311 4.53553 1.17157L1.70711 4L4.53553 6.82843C4.7308 7.02369 4.7308 7.34027 4.53553 7.53553C4.34027 7.7308 4.02369 7.7308 3.82843 7.53553L0.646446 4.35355ZM26 4.5H1V3.5H26V4.5Z" fill="black"/>
                            </svg>
                        </button>
                        <div class="reviews__slider-pagination swiper-pagination"></div>
                        <button class="reviews__slider-btn-next">
                            <svg width="26" height="8" viewBox="0 0 26 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M25.3536 4.35355C25.5488 4.15829 25.5488 3.84171 25.3536 3.64645L22.1716 0.464466C21.9763 0.269204 21.6597 0.269204 21.4645 0.464466C21.2692 0.659728 21.2692 0.976311 21.4645 1.17157L24.2929 4L21.4645 6.82843C21.2692 7.02369 21.2692 7.34027 21.4645 7.53553C21.6597 7.7308 21.9763 7.7308 22.1716 7.53553L25.3536 4.35355ZM0 4.5H25V3.5H0V4.5Z" fill="black"/>
                            </svg>

                        </button>
                    </div>
                </div>
            </div>
            <div class="reviews__gratitude">
                <div class="reviews__gratitude-slider swiper">
                    <div class="reviews__gratitude-slider-inner swiper-wrapper">
                        <div class="reviews__gratitude-slide swiper-slide">
                            <a class="reviews__gratitude-img-wrapper" data-gall="gallery01" href="img/letter.jpg">
                                <img src="img/letter.jpg" alt="Gratitude letter" class="reviews__gratitude-img">
                                <p class="reviews__gratitude-svg-wrapper">
                                    <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.9999 0C16.3919 0 20.8779 3.88 21.8189 9C20.8789 14.12 16.3919 18 10.9999 18C5.60791 18 1.12191 14.12 0.180908 9C1.12091 3.88 5.60791 0 10.9999 0ZM10.9999 16C13.0394 15.9996 15.0183 15.3068 16.6128 14.0352C18.2072 12.7635 19.3228 10.9883 19.7769 9C19.3211 7.0133 18.2048 5.24 16.6105 3.97003C15.0162 2.70005 13.0382 2.00853 10.9999 2.00853C8.96161 2.00853 6.9836 2.70005 5.38928 3.97003C3.79497 5.24 2.67868 7.0133 2.22291 9C2.677 10.9883 3.79258 12.7635 5.38705 14.0352C6.98152 15.3068 8.96044 15.9996 10.9999 16ZM10.9999 13.5C9.80643 13.5 8.66184 13.0259 7.81793 12.182C6.97401 11.3381 6.49991 10.1935 6.49991 9C6.49991 7.80653 6.97401 6.66193 7.81793 5.81802C8.66184 4.97411 9.80643 4.5 10.9999 4.5C12.1934 4.5 13.338 4.97411 14.1819 5.81802C15.0258 6.66193 15.4999 7.80653 15.4999 9C15.4999 10.1935 15.0258 11.3381 14.1819 12.182C13.338 13.0259 12.1934 13.5 10.9999 13.5ZM10.9999 11.5C11.6629 11.5 12.2988 11.2366 12.7677 10.7678C13.2365 10.2989 13.4999 9.66304 13.4999 9C13.4999 8.33696 13.2365 7.70107 12.7677 7.23223C12.2988 6.76339 11.6629 6.5 10.9999 6.5C10.3369 6.5 9.70098 6.76339 9.23214 7.23223C8.7633 7.70107 8.49991 8.33696 8.49991 9C8.49991 9.66304 8.7633 10.2989 9.23214 10.7678C9.70098 11.2366 10.3369 11.5 10.9999 11.5Z" fill="black"/>
                                    </svg>
                                </p>
                            </a>
                        </div>

                        <div class="reviews__gratitude-slide swiper-slide">
                            <a class="reviews__gratitude-img-wrapper" data-gall="gallery01" href="img/letter.jpg">
                                <img src="img/letter.jpg" alt="Gratitude letter" class="reviews__gratitude-img">
                                <p class="reviews__gratitude-svg-wrapper">
                                    <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.9999 0C16.3919 0 20.8779 3.88 21.8189 9C20.8789 14.12 16.3919 18 10.9999 18C5.60791 18 1.12191 14.12 0.180908 9C1.12091 3.88 5.60791 0 10.9999 0ZM10.9999 16C13.0394 15.9996 15.0183 15.3068 16.6128 14.0352C18.2072 12.7635 19.3228 10.9883 19.7769 9C19.3211 7.0133 18.2048 5.24 16.6105 3.97003C15.0162 2.70005 13.0382 2.00853 10.9999 2.00853C8.96161 2.00853 6.9836 2.70005 5.38928 3.97003C3.79497 5.24 2.67868 7.0133 2.22291 9C2.677 10.9883 3.79258 12.7635 5.38705 14.0352C6.98152 15.3068 8.96044 15.9996 10.9999 16ZM10.9999 13.5C9.80643 13.5 8.66184 13.0259 7.81793 12.182C6.97401 11.3381 6.49991 10.1935 6.49991 9C6.49991 7.80653 6.97401 6.66193 7.81793 5.81802C8.66184 4.97411 9.80643 4.5 10.9999 4.5C12.1934 4.5 13.338 4.97411 14.1819 5.81802C15.0258 6.66193 15.4999 7.80653 15.4999 9C15.4999 10.1935 15.0258 11.3381 14.1819 12.182C13.338 13.0259 12.1934 13.5 10.9999 13.5ZM10.9999 11.5C11.6629 11.5 12.2988 11.2366 12.7677 10.7678C13.2365 10.2989 13.4999 9.66304 13.4999 9C13.4999 8.33696 13.2365 7.70107 12.7677 7.23223C12.2988 6.76339 11.6629 6.5 10.9999 6.5C10.3369 6.5 9.70098 6.76339 9.23214 7.23223C8.7633 7.70107 8.49991 8.33696 8.49991 9C8.49991 9.66304 8.7633 10.2989 9.23214 10.7678C9.70098 11.2366 10.3369 11.5 10.9999 11.5Z" fill="black"/>
                                    </svg>
                                </p>
                            </a>
                        </div>

                        <div class="reviews__gratitude-slide swiper-slide">
                            <a class="reviews__gratitude-img-wrapper" data-gall="gallery01" href="img/letter.jpg">
                                <img src="img/letter.jpg" alt="Gratitude letter" class="reviews__gratitude-img">
                                <p class="reviews__gratitude-svg-wrapper">
                                    <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.9999 0C16.3919 0 20.8779 3.88 21.8189 9C20.8789 14.12 16.3919 18 10.9999 18C5.60791 18 1.12191 14.12 0.180908 9C1.12091 3.88 5.60791 0 10.9999 0ZM10.9999 16C13.0394 15.9996 15.0183 15.3068 16.6128 14.0352C18.2072 12.7635 19.3228 10.9883 19.7769 9C19.3211 7.0133 18.2048 5.24 16.6105 3.97003C15.0162 2.70005 13.0382 2.00853 10.9999 2.00853C8.96161 2.00853 6.9836 2.70005 5.38928 3.97003C3.79497 5.24 2.67868 7.0133 2.22291 9C2.677 10.9883 3.79258 12.7635 5.38705 14.0352C6.98152 15.3068 8.96044 15.9996 10.9999 16ZM10.9999 13.5C9.80643 13.5 8.66184 13.0259 7.81793 12.182C6.97401 11.3381 6.49991 10.1935 6.49991 9C6.49991 7.80653 6.97401 6.66193 7.81793 5.81802C8.66184 4.97411 9.80643 4.5 10.9999 4.5C12.1934 4.5 13.338 4.97411 14.1819 5.81802C15.0258 6.66193 15.4999 7.80653 15.4999 9C15.4999 10.1935 15.0258 11.3381 14.1819 12.182C13.338 13.0259 12.1934 13.5 10.9999 13.5ZM10.9999 11.5C11.6629 11.5 12.2988 11.2366 12.7677 10.7678C13.2365 10.2989 13.4999 9.66304 13.4999 9C13.4999 8.33696 13.2365 7.70107 12.7677 7.23223C12.2988 6.76339 11.6629 6.5 10.9999 6.5C10.3369 6.5 9.70098 6.76339 9.23214 7.23223C8.7633 7.70107 8.49991 8.33696 8.49991 9C8.49991 9.66304 8.7633 10.2989 9.23214 10.7678C9.70098 11.2366 10.3369 11.5 10.9999 11.5Z" fill="black"/>
                                    </svg>
                                </p>
                            </a>
                        </div>

                        <div class="reviews__gratitude-slide swiper-slide">
                            <a class="reviews__gratitude-img-wrapper" data-gall="gallery01" href="img/letter.jpg">
                                <img src="img/letter.jpg" alt="Gratitude letter" class="reviews__gratitude-img">
                                <p class="reviews__gratitude-svg-wrapper">
                                    <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.9999 0C16.3919 0 20.8779 3.88 21.8189 9C20.8789 14.12 16.3919 18 10.9999 18C5.60791 18 1.12191 14.12 0.180908 9C1.12091 3.88 5.60791 0 10.9999 0ZM10.9999 16C13.0394 15.9996 15.0183 15.3068 16.6128 14.0352C18.2072 12.7635 19.3228 10.9883 19.7769 9C19.3211 7.0133 18.2048 5.24 16.6105 3.97003C15.0162 2.70005 13.0382 2.00853 10.9999 2.00853C8.96161 2.00853 6.9836 2.70005 5.38928 3.97003C3.79497 5.24 2.67868 7.0133 2.22291 9C2.677 10.9883 3.79258 12.7635 5.38705 14.0352C6.98152 15.3068 8.96044 15.9996 10.9999 16ZM10.9999 13.5C9.80643 13.5 8.66184 13.0259 7.81793 12.182C6.97401 11.3381 6.49991 10.1935 6.49991 9C6.49991 7.80653 6.97401 6.66193 7.81793 5.81802C8.66184 4.97411 9.80643 4.5 10.9999 4.5C12.1934 4.5 13.338 4.97411 14.1819 5.81802C15.0258 6.66193 15.4999 7.80653 15.4999 9C15.4999 10.1935 15.0258 11.3381 14.1819 12.182C13.338 13.0259 12.1934 13.5 10.9999 13.5ZM10.9999 11.5C11.6629 11.5 12.2988 11.2366 12.7677 10.7678C13.2365 10.2989 13.4999 9.66304 13.4999 9C13.4999 8.33696 13.2365 7.70107 12.7677 7.23223C12.2988 6.76339 11.6629 6.5 10.9999 6.5C10.3369 6.5 9.70098 6.76339 9.23214 7.23223C8.7633 7.70107 8.49991 8.33696 8.49991 9C8.49991 9.66304 8.7633 10.2989 9.23214 10.7678C9.70098 11.2366 10.3369 11.5 10.9999 11.5Z" fill="black"/>
                                    </svg>
                                </p>
                            </a>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>
</section>