<section class="services">
    <div class="marquee__wrapper">
        <div class="marquee marquee__top">
            <div class="marquee__inner">
                <ul class="marquee__list " >
                    <li class="marquee__item">наши услуги</li>
                    <li class="marquee__item">/</li>
                    <li class="marquee__item">наши услуги</li>
                    <li class="marquee__item">/</li>
                    <li class="marquee__item">наши услуги</li>
                    <li class="marquee__item">/</li>
                    <li class="marquee__item">наши услуги</li>
                    <li class="marquee__item">/</li>
                    <li class="marquee__item">наши услуги</li>
                    <li class="marquee__item">/</li>
                    <li class="marquee__item">наши услуги</li>
                    <li class="marquee__item">/</li>
                    <li class="marquee__item">наши услуги</li>
                    <li class="marquee__item">/</li>
                </ul>
            </div>
        </div>
        <div class="marquee marquee__bottom">
            <div class="marquee__inner ">
                <ul class="marquee__list" aria-hidden="true">
                    <li class="marquee__item"><img src="img/horiz-line.svg" alt="Line"></li>
                    <li class="marquee__item"><a href="#" class="marquee__link">Контент</a></li>
                    <li class="marquee__item"><img src="img/horiz-line.svg" alt="Line"></li>
                    <li class="marquee__item"><a href="#" class="marquee__link">Мерч</a></li>
                    <li class="marquee__item"><img src="img/horiz-line.svg" alt="Line"></li>
                    <li class="marquee__item"><a href="#" class="marquee__link">Дизайн</a></li>
                    <li class="marquee__item"><img src="img/horiz-line.svg" alt="Line"></li>
                    <li class="marquee__item"><a href="#" class="marquee__link">Полиграфия</a></li>
                    <li class="marquee__item"><img src="img/horiz-line.svg" alt="Line"></li>
                    <li class="marquee__item"><a href="#" class="marquee__link">Сайты</a></li>
                    <li class="marquee__item"><img src="img/horiz-line.svg" alt="Line"></li>
                    <li class="marquee__item"><a href="#" class="marquee__link">Продвижение</a></li>
                    <li class="marquee__item"><img src="img/horiz-line.svg" alt="Line"></li>
                    <li class="marquee__item"><a href="#" class="marquee__link">Тексты</a></li>
                    <li class="marquee__item"><img src="img/horiz-line.svg" alt="Line"></li>
                    <li class="marquee__item"><a href="#" class="marquee__link">Фото</a></li>
                    <li class="marquee__item"><img src="img/horiz-line.svg" alt="Line"></li>
                    <li class="marquee__item"><a href="#" class="marquee__link">Контент</a></li>
                    <li class="marquee__item"><img src="img/horiz-line.svg" alt="Line"></li>
                    <li class="marquee__item"><a href="#" class="marquee__link">Мерч</a></li>
                    <li class="marquee__item"><img src="img/horiz-line.svg" alt="Line"></li>
                    <li class="marquee__item"><a href="#" class="marquee__link">Дизайн</a></li>
                    <li class="marquee__item"><img src="img/horiz-line.svg" alt="Line"></li>
                    <li class="marquee__item"><a href="#" class="marquee__link">Полиграфия</a></li>
                    <li class="marquee__item"><img src="img/horiz-line.svg" alt="Line"></li>
                    <li class="marquee__item"><a href="#" class="marquee__link">Сайты</a></li>
                    <li class="marquee__item"><img src="img/horiz-line.svg" alt="Line"></li>
                    <li class="marquee__item"><a href="#" class="marquee__link">Продвижение</a></li>
                    <li class="marquee__item"><img src="img/horiz-line.svg" alt="Line"></li>
                    <li class="marquee__item"><a href="#" class="marquee__link">Тексты</a></li>
                    <li class="marquee__item"><img src="img/horiz-line.svg" alt="Line"></li>
                    <li class="marquee__item"><a href="#" class="marquee__link">Фото</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="content">

        <div class="services__row">
            <div class="services__circles">
                <div class="services__circles-line services__circles-line--start">

                    <a href="#" class="services__circle">
                        <div class="services__circle-inner">
                            <p class="services__circle-title">Регистрация торговой марки</p>
                            <ul class="services__circle-list">
                                <li class="services__circle-item">
                                    Бесплатная экспертиза
                                </li>
                                <li class="services__circle-item">
                                    Регистрация торговой марки
                                </li>
                                <li class="services__circle-item">
                                    Патент на изобретение
                                </li>
                            </ul>
                        </div>
                    </a>

                    <a href="#" class="services__circle">
                        <div class="services__circle-inner">
                            <p class="services__circle-title">Создание контента</p>
                            <ul class="services__circle-list">
                                <li class="services__circle-item">
                                    Текст
                                </li>
                                <li class="services__circle-item">
                                    Фото
                                </li>
                                <li class="services__circle-item">
                                    Видео
                                </li>
                            </ul>
                        </div>
                    </a>

                </div>

                <div class="services__circles-line services__circles-line--middle">
                    <a href="#" class="services__circle">
                        <div class="services__circle-inner">
                            <p class="services__circle-title">Изготовление Эксклюзивных подарков</p>
                            <ul class="services__circle-list">
                                <li class="services__circle-item">
                                    Индивидуальный
                                </li>
                                <li class="services__circle-item">
                                    Знаки, медали
                                </li>
                                <li class="services__circle-item">
                                    Тираж
                                </li>
                            </ul>
                        </div>
                    </a>

                    <a href="#" class="services__circle services__circle--middle">
                        <div class="services__circle-inner">
                            <p class="services__circle-title">Сквозная
                                аналитика</p>
                            <ul class="services__circle-list">
                                <li class="services__circle-item">
                                    Аудит
                                </li>
                                <li class="services__circle-item">
                                    Внедрение
                                </li>
                                <li class="services__circle-item">
                                    Настройка отчётности
                                </li>
                            </ul>
                        </div>
                    </a>

                    <a href="#" class="services__circle">
                        <div class="services__circle-inner">
                            <p class="services__circle-title">Разработка Дизайна</p>
                            <ul class="services__circle-list">
                                <li class="services__circle-item">
                                    Сайт
                                </li>
                                <li class="services__circle-item">
                                    Соцсети
                                </li>
                                <li class="services__circle-item">
                                    Рекламные компании
                                </li>
                                <li class="services__circle-item">
                                    Полиграфия
                                </li>
                                <li class="services__circle-item">
                                    Мерч
                                </li>
                            </ul>
                        </div>
                    </a>

                </div>

                <div class="services__circles-line services__circles-line--end">
                    <a href="#" class="services__circle">
                        <div class="services__circle-inner">
                            <p class="services__circle-title">Создание
                                Мерча</p>
                            <ul class="services__circle-list">
                                <li class="services__circle-item">
                                    Каталоги
                                </li>
                                <li class="services__circle-item">
                                    Индивидуальный
                                </li>
                                <li class="services__circle-item">
                                    Полиграфия
                                </li>
                            </ul>
                        </div>
                    </a>

                    <a href="#" class="services__circle">
                        <div class="services__circle-inner">
                            <p class="services__circle-title">Разработка и
                                продвижение
                                сайта</p>
                            <ul class="services__circle-list">
                                <li class="services__circle-item">
                                    Разработка
                                </li>
                                <li class="services__circle-item">
                                    Оптимизация
                                </li>
                                <li class="services__circle-item">
                                    Рекламные компании
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>

            </div>
            <div class="services__slogan-outer">
                <div class="services__braces-wrapper">
                    <img src="img/brace.svg" alt="Brace" class="services__brace">
                </div>
                <div class="services__slogan">
                    <p class="services__p-slogan">единый стиль</p>
                    <p class="services__p-slogan">Гармония</p>
                    <p class="services__p-slogan">Доверие</p>
                    <p class="services__p-slogan">Экспертность</p>
                </div>
            </div>
            <div class="services__btn">
                <p class="services__btn-txt">Скачать презентацию</p>
                <p class="services__svg-wrapper">
                    <svg width="8" height="35" viewBox="0 0 8 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.64645 34.3536C3.84171 34.5488 4.15829 34.5488 4.35355 34.3536L7.53553 31.1716C7.73079 30.9763 7.73079 30.6597 7.53553 30.4645C7.34027 30.2692 7.02369 30.2692 6.82842 30.4645L4 33.2929L1.17157 30.4645C0.976308 30.2692 0.659725 30.2692 0.464463 30.4645C0.269201 30.6597 0.269201 30.9763 0.464464 31.1716L3.64645 34.3536ZM3.49998 2.02165e-07L3.5 34L4.5 34L4.49998 -2.02166e-07L3.49998 2.02165e-07Z" fill="white"/>
                    </svg>
                </p>
            </div>
        </div>
    </div>
</section>