.footer__btn{
  background-color: unset;
  width: fit-content;
  height: fit-content;
  margin-bottom:  16px;
}

.slider-nav__btn{
  background-color: unset;
  display: flex;
  align-items: center;
  position: relative;
  transition: transform .1s ease-in;

  &--next{
    &:active{
      &:not(.swiper-button-disabled){
        transform:translateX(5px);
      }
    }
  }

  &--prev{
    &:active{
      &:not(.swiper-button-disabled){
        transform:translateX(-5px);
      }
    }
  }
}

.slide__more-btn {
  background-color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
  display: flex;
  text-align: center;
  padding: 24px 60px;
  white-space: nowrap;
  transition: .3s ease-in-out;
  height: fit-content;
  @include breakpoint(lg){
    //padding-right: 35px;
    ///padding-left: 30px;
  }
  @include breakpoint(md){
    padding-right: 30px;
    padding-left: 30px;
  }
  @include breakpoint(sm){
    justify-content: center;
    padding-left: 7px;
    padding-right: 7px;
  }
  &:hover{
    background-color: #333333;
  }
}


.portfolio__slider-btn-prev, .portfolio__slider-btn-next{
  background-color: #000;
  display: flex;
  svg{
    transition: .3s ease-in-out;
    position: relative;

    path{
      fill: #fff;
    }
  }
  @include breakpoint(sm){
    display: none;
  }
}

.portfolio__slider-btn-prev:not(.swiper-button-disabled){
  &:active{
    svg{
      left: -5px;
    }
  }
}
.portfolio__slider-btn-next:not(.swiper-button-disabled){
    &:active{
      svg{
        left: 5px;
      }
    }
}
.portfolio__slider-btn{
  display: inline-block;
  font-family: 'Inter', sans-serif;
  padding:24px 45px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #000000;
  border: 1px solid #000;
  transition: .3s ease-in-out;

  @include breakpoint(lg){
    margin-top: 24px;
  }
  &:hover{
    background-color: #000;
    color: #fff;
  }
  @include breakpoint(sm){
    width: 100%;
  }
}

.reviews__slider-btn-next{
  @extend .portfolio__slider-btn-next;
}
.reviews__slider-btn-prev{
  @extend .portfolio__slider-btn-prev;
}
.reviews__slider-btn-next, .reviews__slider-btn-prev{
  background-color: unset;
  svg{

    path{
      fill: #000;
    }
  }
  @include breakpoint(sm){
    display: inline-block;
  }
}
