.advantages {
  overflow: hidden;
  padding-bottom: 120px;
  
  @include breakpoint(md){
    padding-left: 20px;
    padding-right: 20px;
  }
  @include breakpoint(sm){
    padding-left: 16px;
    padding-right: 16px;
  }
  &__row {
    display: grid;
    grid-template-columns: calc(33% - 15px) 67%;
    column-gap: 15px;
    padding-top: 85px;
    @include breakpoint(lg){
      display: flex;
      flex-direction: column;
    }
    @include breakpoint(sm){
      padding-top: 40px;
    }
  }

  &__desc {
    @extend .portfolio__map-left-content;
    margin-top: 0;
    order: 1;
    @include breakpoint(md){

    }
    @include breakpoint(sm){
      margin: 0 0 16px;
    }

  }
  .alert{
    margin-top: 50px;
    @include breakpoint(sm){
      margin-top: 40px;
    }
  }

  &__line-wrapper {
  }

  &__subtitle {
    @extend .portfolio__map-subtitle;
    @include breakpoint(md){

    }
  }

  &__right-content {
    //flex-basis: 67%;
    @include breakpoint(lg){
      order: 2;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
  }
  &__item-title-wrapper{
    display: flex;
    column-gap: 29px;
    flex: 1;
    @include breakpoint(sm){
      column-gap: 12px;
      align-items: center;
    }
  }

  &__item-inner {
    //display: grid;
    display: flex;
    //column-gap: 15px;
    margin: 22px 0 40px;
    column-gap: 15px;
    /*grid-template-columns: minmax(32px, 58px) 1fr 61%;
    &:not(&:first-child){
      margin:22px 0 38px;
    }*/
    @include breakpoint(md){
      flex-direction: column;
    }
    @include breakpoint(sm){

      margin: 24px 0;
    }

  }

/*  &__item-title-wrapper {
    display: flex;


  }*/

  &__item-number {
    background-color: #000;
    width: 58px;
    height: 58px;
    min-width: 58px;
    font-weight: 700;
    font-size: 18px;
    line-height: 145%;
    color:#fff;
    text-align: center;
    text-transform: uppercase;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;

    @include fluid-type(576px, $maxWidth, 12px , 18px);
    @include breakpoint(sm){
      width: 32px;
      height: 32px;
      min-width: 32px;

    }

  }

  &__item-title {
    flex-basis: auto;
    font-weight: 700;
    font-size: 18px;
    line-height: 145%;
    text-transform: uppercase;
    color: #000000;
    padding-top: 16px;
    //padding-right: 15px;
    @include breakpoint(sm){
      padding-top: unset;
    }
  }

  &__item-desc {
    flex-basis: 60%;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    color: #000000;
    padding-top: 16px;
    padding-right: 23px;

    @include breakpoint(md){
     padding: 5px 0 0 87px;
    }
    @include breakpoint(sm){
      padding-left: 44px;
      //padding: 5px 0 0 44px;
    }
  }
}
