.feedback {

  padding-bottom: 120px;
  @include breakpoint(md){
    padding-left: 20px;
    padding-right: 20px;
  }
  @include breakpoint(sm){
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 64px;
  }

  &__row {
    display: grid;
    grid-template-columns: 33% 1fr;
    column-gap: 15px;

    @include breakpoint(lg){
      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    grid-column: 2/3;
    margin-bottom: 37px;

    @include breakpoint(sm){
      margin-bottom: 24px;
    }
  }

  &__img-wrapper {
    grid-column: 1/2;
    grid-row: 3/4;

    @include breakpoint(lg){
      display: flex;
      justify-content: center;
      margin-bottom: 64px;
    }

  }

  &__question-block {
    grid-column: 2/3;
  }

  .question {
    //margin-bottom: 78px;
    margin-bottom: unset;
    @include breakpoint(lg){
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
    @include breakpoint(md){
      max-width: 100%;
    }
    @include breakpoint(sm){
      //margin-bottom: 55px;
    }
  }

  .question-inner {
    padding: 26px 50px 27px 34px;
    align-items: start;
    @include breakpoint(sm){
      padding: 24px 26px 26px 24px;
    }
  }

  .question-mark {
    margin-right: 35px;
    line-height: 1;
    @include breakpoint(sm){
      margin-right: 31px;
    }
  }

  .question-txt {
    max-width: 100%;

  }

  .corners-wrapper {
    left: 21px;
    transform: unset;
  }

  .corner--topleft {
  }

  .corner--topright {
  }

  &__form {
    grid-column: 2/3;
    padding-top: 78px;
    @include breakpoint(sm){
      padding-top: 55px;
    }
  }

  &__input-wrapper {
    position: relative;
    margin-bottom: 39px;

    &:last-child{
    }
  }

  &__input {
    width: 100%;
    line-height: 145%;
    padding: 6px 0 12px;
    border-bottom: 1px solid #000;
    font-size: 18px;
    color: #000;

    &::placeholder{
      font-weight: 400;
      font-size: 18px;
      line-height: 145%;
      color:#b3b3b3;
      opacity: 0;
      transition: opacity .2s ease-in;
    }
    &:focus{
      &::placeholder{
        opacity: 1;
      }

    }
    & ~ label.active{
      bottom: 42px;
      font-size: 12px;
      left: 0;
    }
  }

  &__label {
    position: absolute;
    left: 0;
    bottom: 23px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    user-select: none;
    transition: bottom .3s linear, font-size .3s linear;
  }

  &__last-form-element {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    column-gap: 25px;

    .feedback__input-wrapper{
      margin-bottom: 0;
      position: relative;

      &:first-child{
        width: 100%;
      }
    }
    .feedback__input{
      border-bottom: unset;
    }
  }
  &__file-label{
    cursor: pointer;
    display: flex;
    column-gap: 14px;
    align-items: center;

    position: relative;
    bottom: 5px;

    @include breakpoint(sm){
      bottom: unset;
    }

  }
  &__file-label-txt{
    display:flex;
    white-space: nowrap;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    @include breakpoint(sm){
      display: none;
    }
  }
  &__svg-wrapper{
    display:flex;
  }
  &__input-file {

    z-index: -1;
    position: absolute;
    opacity: 0;
    right: 0;
  }

  &__form-bottom {
    display: flex;
    padding-top: 44px;
    @include breakpoint(sm){
      padding-top: 24px;
    }
  }

  .form-footer {

    justify-content: space-between;

    @include breakpoint(md){
      flex-direction: column;
      row-gap: 25px;
    }

    &__socials-wrapper {
      display: flex;
      column-gap: 24px;

      @include breakpoint(md){
        align-items: center;
      }
    }

    &__socials {
      display: flex;
      column-gap: 16px;

      @include breakpoint(sm){
        column-gap: 8px;
      }
    }
    &__socials--whatsapp, &__socials--telegram {
      background-color:#000000;
      border-radius: 50%;
      width: 58px;
      height: 58px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: .3s ease-in-out;
      position: relative;
      &:hover{
        filter: invert(1);
        box-shadow: 0 0 7px gray;
      }
      &:active{
        top: 5px;
      }
    }
    &__socials--whatsapp {
      svg{
        path{
          fill:#fff;
        }
      }
    }

    &__socials--telegram {
      svg{
        path{
          stroke:#fff;
        }
      }
    }

    &__desc {
      max-width: 322px;
      padding-top: 18px;
      font-weight: 400;
      font-size: 14px;
      line-height: 145%;
      @include fluid-type(380px, $maxWidth, 14px, 18px);
      @include breakpoint(md){
        max-width: 100%;
        padding-top: unset;
      }
      @include breakpoint(sm){
        padding-top: 5px;
      }
    }

    &__submit-wrapper {
      display: flex;
      flex-direction: column;
      row-gap: 23px;

      @include breakpoint(md){
        flex-direction: row;
        align-items: center;
        column-gap: 20px;
      }
      @include breakpoint(sm){
        flex-direction: column;
      }
    }

    &__submit {
      width: 280px;
      padding: 24px 10px 23px;
      display: flex;
      justify-content: center;
      background-color: #000;
      color:#fff;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      transition: .3s ease-in-out;

      @include breakpoint(sm){
        width: 100%;
      }

      &:hover{
        background-color: #333333;
      }
      &:active{
        background-color: #000;
      }
    }

    &__privacy-policy {
      max-width: 280px;
      font-weight: 400;
      font-size: 12px;
      line-height: 145%;
      color:#b3b3b3;

      @include breakpoint(sm){
        max-width: unset;
      }

    }
  }
}