.hero {
  padding: 64px 0;

  @include breakpoint(md){
    //margin-top: 82px;
    padding-top: 144px;
    padding-left: 20px;
    padding-right: 20px;
  }
  @include breakpoint(sm){
    padding: 90px 16px 64px;
  }
  &__header{
    display: flex;
    @include breakpoint(md){
      flex-direction: column-reverse;
    }
  }
  &__title-wrapper{
    flex-basis: 67%;
  }
  &__row {
    display: flex;
    flex-direction: column;
    @include breakpoint(md){
      flex-direction: column;
    }
  }
  &__images{
    flex-basis: 33%;
    position: relative;
    height: fit-content;
    @include breakpoint(lg){
      top: calc(100vw / 9);
    }
    @include breakpoint(md){
      top: 0;
      width: fit-content;
      margin: 0 auto;
    }
  }
  &__plant-img{
   position: absolute;
    left: -23px;
    bottom: -45px;
    max-width: 135px;
    width: 100%;
    @include breakpoint(xl){
      max-width: calc(100vw / 8.89);
    }
    @include breakpoint(md){
      left: 25px;
      bottom: -35px;
    }
    @include breakpoint(sm){
      max-width: 104px;
    }
  }
  &__top-circle{
    top: 0;
    position: absolute;
    left: 51%;
    transform:translateX(-50%);
    width: 182px;
    height: 182px;
    border-radius: 50%;
    display:flex;
    align-items:center;
    justify-content:center;
    z-index: -1;
    @include breakpoint(sm){
      width: 141px;
      height: 141px;
    }
  }
  &__top-circle-center{
    position: absolute;
    background: #AEB99C;
    width: 128px;
    height: 128px;
    border-radius:50%;
    @include breakpoint(sm){
      width: 101px;
      height: 101px;
    }
  }
  &__top-circle-txt{
    position:absolute;
    width: 100%;
    height: 100%;
    animation:spin 7s linear infinite;

    span{
      position: absolute;
      left: 50%;
      transform-origin:0 91px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #979797;
      @include breakpoint(sm){
        transform-origin: 0 70.5px;
        font-weight: 700;
        font-size: 14.9103px;
        line-height: 145%;
      }
    }
  }

  &__content {
    max-width: 67%;
    margin-left: auto;

    @include breakpoint(md){
      max-width: unset;
    }
  }
  &__top-circle-paragraph{
    transition: opacity 1s ease-in;
    opacity: 0;
  }
  &__title {
    margin-bottom: 100px;
    @include breakpoint(lg){
      margin-bottom: 20px;
    }
    @include breakpoint(md){
      text-align: center;
      margin-bottom: 40px;
    }
  }

  &__circles {
    position: relative;
    min-height: 410px;
    padding-top: 115px;
    @include breakpoint(lg){
      min-height: 600px;
    }
    @include breakpoint(md){
      min-height: 600px;
    }
  }

  &__black-circle {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    &:first-child{
      background-color: black;
      @include breakpoint(md){
        left: 12.5%;
      }
      @include breakpoint(sm65){
        left: 0;
      }
    }
    &:nth-child(2){
      left: 50%;
      transform:translate(-50%);
      @include breakpoint(lg){
        bottom: 2%;
      }
      @include breakpoint(md){
        //bottom: 85%;
        bottom: 1%;
        z-index: -1;
      }
    }
    &:nth-child(3){
      right: 0;
      @include breakpoint(md){
        right: 12.5%;
      }
      @include breakpoint(sm65){
        right: 0;
      }
    }
    @include breakpoint(sm){
      &:nth-child(-n+3){
        z-index: 0;
        position: relative;
        left: unset;
        right: unset;
        transform: unset;
        margin: 0 auto;
      }
      &:nth-child(2){
        top: -55px;
        z-index: -1;
      }
      &:nth-child(3){
        top: -110px;
        z-index: -2;
      }
    }

  }

  &__circle {
    width: 280px;
    height: 280px;
    position: absolute;
    border: 1px solid #000;
    border-radius: 50%;

    &:first-child{
      top: -30px;
    }
    &:nth-child(2){
      top: -60px;
    }
  }

  &__circle-txt {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__circle-number {
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    color: #FFFFFF;

  }

  &__circle-desc {
    font-weight: 700;
    font-size: 18px;
    line-height: 145%;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 182px;

  }

  &__table {
    display: flex;
    padding-top: 25px;

    @include breakpoint(sm){
      flex-direction: column;
    }
  }

  &__table-col {
    display: flex;
    flex-direction: column;
  }
  &__table-col--left{
    flex-basis: 67%;

    .hero__table-body{
      padding-left: 0;

    }
  }
  &__table-col--right{
    .hero__table-body{
      border-left: 1px solid #000;

      @include breakpoint(sm){
        border-left: unset;
        border-bottom: 1px solid #000;
      }
    }
  }


  &__table-title {
    padding: 6px 16px;
    background-color:#000;
    color:#fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    width: fit-content;

  }

  &__table-body {
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    color: #000000;
    padding: 35px 40px;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    flex: 1;
    @include breakpoint(lg){
      padding: 25px 30px;
    }
    @include breakpoint(sm){
      padding: 32px 0;
      border-bottom: unset;
    }
  }
}
@keyframes spin {
  100%{
    transform: rotate(360deg);
  }
}