.offers {

  padding-top: 23px;
  padding-bottom: 120px;

  @include breakpoint(md){
    padding-left: 20px;
    padding-right: 20px;

  }
  @include breakpoint(sm){
    padding: 0 16px 64px;
  }

  &__row {
    display: flex;
    @include breakpoint(xl){
      column-gap: 15px;
    }
    @include breakpoint(md){
      flex-direction: column;
    }
  }

  &__circle-block {
    flex-basis: 33%;
    position: relative;
    height: fit-content;

    @include breakpoint(xl){
      min-width: 300px;
    }
    @include breakpoint(md){
      margin-bottom: 124px;
      flex-basis: unset;
      min-width: unset;
    }
  }

  &__circle {

  }

  &__circle-black {
    width: 338px;
    height: 338px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakpoint(xl){
      min-height: 300px;
      min-width: 300px;
      width: calc(100vw/3.55);
      height: calc(100vw/3.55);
    }

    @include breakpoint(xs38){
      width: calc(100vw - 32px);
      height: calc(100vw - 32px);
      min-width: unset;
      min-height: unset;

    }
  }
  &__circle-wrapper{
    width: fit-content;
    margin: 0 auto;
  }
  &__circle-txt {
    font-weight: 700;
    font-size: 18px;
    line-height: 145%;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 235px;
    width: 100%;
  }

  &__circle-common {
    @extend .offers__circle-black;
    background-color: unset;
    border: 1px solid #000;
    position: absolute;

    &:nth-child(2){
      bottom: -30px;
    }
    &:nth-child(3){
      bottom:-60px;
    }
  }

  &__title{
    margin-top: 42px;
    margin-bottom: 33px;
    @include breakpoint(md){
      margin-top: 0;
    }
  }
  &__content {
    flex-basis: 67%;

    @include breakpoint(md){
      flex-basis: unset;
    }
  }

  &__desc {
    padding: 32px 40px 32px 0;
    //border-top: 1px solid #000;
    display: flex;
    column-gap: 16px;
    @include breakpoint(sm){
      column-gap: 12px;
      padding-right: unset;
    }
    &:last-child{
      //border-bottom: 1px solid #000;
    }
  }

  &__checkbox-wrapper {
  /*  width: 24px;
    min-width: 24px;
    height: 24px;
    background-color: #000;
*/

    img{
      min-width: 24px;
      width: 24px;
      height: 24px;
    }

  }

  &__txt {
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    color:#000;


  }

  &__txt-bold {
    font-weight: 700;
  }
}