.portfolio {
  overflow: hidden;


  @include breakpoint(md){
    padding-left: 20px;
    padding-right: 20px;
  }
  @include breakpoint(sm){
    padding-left: 16px;
    padding-right: 16px;
  }
  &__row {
    padding-top: 90px;
    @include breakpoint(sm){
      padding-top: 40px;
    }
  }

  &__sliders {
    display: flex;
    flex-direction: column;
    row-gap: 66px;

    @include breakpoint(sm){
      row-gap: 48px;
    }
  }


  &__slider-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    border-top: 1px solid #000;
    //margin-top: 90px;

    @include breakpoint(sm){
      //margin-top: 40px;
      row-gap: 2px;
    }
  }
  &__slider-pagination{
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;

  }
  &__slider-nav {
    display: flex;
    align-items: center;
    column-gap: 16px;
    padding: 6px 16px;
    background-color: #000;
    width: fit-content;
    margin-left: auto;

  }



  &__slider-btn-next {
  }

  &__slider-body {
    display: grid;
    grid-template-columns:33% 67%;
    grid-template-rows: repeat(2, 1fr);

    @include breakpoint(lg){
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3,auto);
    }
  }

  &__slider-title {
    grid-column: 1/2;
    grid-row: 1/2;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    text-transform: uppercase;
    color: #000000;
    @include fluid-type(380px, $maxWidth, 32px, 40px);
    @include breakpoint(lg){
      margin-bottom: 16px;
      //margin-top: 2px;
      grid-column: 1/3;
      grid-row: 1/2;

    }
  }

  &__slider-btn {

  }
  &__btn-wrapper{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    align-items: end;
    @include breakpoint(lg){
      grid-column: 1/3;
      grid-row: 3/4;
    }
  }

  &__slider {
    padding-bottom: 10px;

    @include breakpoint(lg){
      padding: 0;
    }
  }


  &__slider-outer{
    min-width: 0;
    grid-column: 2/3;
    grid-row: 1/3 ;
    clip-path: inset( -100vw -100vw -100vw 0 );
    @include breakpoint(lg){
      grid-column: 1/3;
      grid-row: 2/3;
    }
  }
  .swiper-pagination{
    position: static;
  }
  .swiper {
    overflow: unset !important;
  }

  &__slider-inner {
  }

  .swiper-wrapper {
  }

  &__slide {
    min-height: 510px;
    padding: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include breakpoint(xl){
      min-height: 450px;
    }
    @include breakpoint(md){
      min-height: 350px;
      padding: 32px;
    }
    @include breakpoint(sm){
      min-height: 300px;
      padding: 16px;
    }

  }
  &__slide-footer{
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
    align-items: end;
    transition: .3s ease-in-out;

    &:hover{

    }
  }

  .swiper-slide {
    position: relative;
    &:not(.swiper-slide-active){
      &:before{
        transition: .3s ease-in-out;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255,255,255,.5);
      }
    }
    &.swiper-slide-active{
      transition: box-shadow .3s ease-out;
      &:before{
        content: '';
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: linear-gradient(rgba(0, 0, 0, 0.56));
        z-index: -1;
        opacity: 1;
        transition: .3s ease-in-out;
      }
      &:hover{
        box-shadow: inset 0px 0px 350px rgba(0, 0, 0, 0.56);
        @include breakpoint(md){
          box-shadow: inset 0px 0px 250px rgba(0, 0, 0, 0.56);
        }
        @include breakpoint(sm){
          box-shadow: inset 0px 0px 150px rgba(0, 0, 0, 0.56);
        }
        &:before{
          opacity: 0;
        }
        .portfolio__slide-more-txt{
           &:before{
             width: 100%;
           }
        }
        .portfolio__slide-more-arrow{
          left: 10px;
        }
      }

      .portfolio__slide-title{
        //background-color: rgba(0,0,0,.4);
      }
    }
  }

  &__slide-bg {
  }

  &__slide-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 145%;
    text-transform: uppercase;
    color:#fff;
    max-width: 230px;
    @include breakpoint(sm){
      line-height: 125%;
    }
  }

  &__slide-desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    color: #FFFFFF;
    max-width: 305px;
    @include fluid-type(380px, $maxWidth, 14px, 18px);
    @include breakpoint(sm){
      line-height: 125%;
      max-width: 200px;
    }

  }

  &__slide-more {
   //position: relative;
    display: flex;
    align-items: center;
    column-gap: 16px;
    transition: .3s ease-in-out;

    &:visited{
      color: #fff;
    }
  }

  &__slide-more-txt {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    white-space: nowrap;
    position: relative;
    @include breakpoint(sm){
      display: none;
    }

    &:before{
      content: '';
      position: absolute;
      bottom: -4px;
      width: 0;
      height: 1px;
      background-color: #fff;
      transition: .3s ease-in-out;
    }
  }

  &__slide-more-arrow {

    position: relative;
    transition: .3s ease-in-out;

    svg{
      path{
        fill:#fff;
      }
    }

    @include breakpoint(sm){
      padding-bottom: 7px;
      padding-right: 7px;
    }
  }

  &__map {
  }

  &__digest {
  }
  &__slider--second{
    .portfolio__slide{
      background-position-y: bottom;
      background-size: auto;
    }
  }
  //########################## MAP
  &__map-block {
    display: grid;
    grid-template-columns: calc(33% - 15px) 66%;
    padding-top: 120px;
    column-gap: 15px;
    @include breakpoint(lg){
      display: flex;
      flex-direction: column;
      //row-gap: 40px;
    }
    @include breakpoint(md){
      //row-gap: 32px;
    }
    @include breakpoint(sm){
      padding-top: 64px;
    }
  }

  &__map-left-content {
    display: flex;
    column-gap: 33px;
    align-items: start;
    grid-column: 1/2;
    grid-row: 1/3;
    //@include breakpoint()
    @include breakpoint(lg){
      margin-top: 24px;
      margin-bottom: 32px;
      order: 2;
    }
    @include breakpoint(sm){
      column-gap: 12px;
      svg{
        padding-top: 5px;
        width: 24px;
        height: 30px;
      }
    }
  }

  &__line-wrapper {
  }

  &__map-subtitle {
    padding-top: 5px;
    max-width: 242px;
    font-weight: 700;
    font-size: 18px;
    line-height: 145%;
    text-transform: uppercase;
    color: #000000;
    @include fluid-type(380px, $maxWidth, 16px, 18px);
    @include breakpoint(lg){
      max-width: 100%;
    }
    @include breakpoint(sm){
      max-width: 242px;
      padding-top: 0;
    }

  }

  &__map-right-content {
    grid-column: 2/3;
    group-reset: 2/3;
    @include breakpoint(lg){
      order:3;
    }
    .item-delimiter{
      margin-top: 40px;
      margin-bottom: 53px;
      @include breakpoint(md){
        display: none;
      }
    }
  }

  &__map-title {
    grid-column: 2/3;
    grid-row: 1/2;
    @include breakpoint(lg){
      order: 1;
    }
  }

  &__map-wrapper {

    svg{

      width: 100%;
       display: inline-block;
      @include breakpoint(lg){
        height: fit-content;
      }
      path{
        transition:.2s ease-in-out;
        &:not([data-city]):hover{
          fill:#000;
        }
        &[data-city]{
          cursor:pointer;
        }
      }
    }
  }
  &__map-delimiter{
    width: 100%;
    height: 1px;
    background-color: #000;
    margin-top: 40px;
    margin-bottom: 53px;
    @include breakpoint(md){
      display: none;
    }
  }
  &__tooltip{
    min-width: 19px;
    position:fixed;
    transform:translateX(-51%);
    padding: 12px 24px;
    background-color: #000;
    z-index:-1;
    transition: .3s ease-in-out;
    opacity: 1;
    @include breakpoint(sm){
      padding: 6px 16px 4px;
    }
    p{
      color:#fff;
      font-weight: 700;
      font-size: 18px;
      line-height: 145%;
      text-transform: uppercase;
      white-space: nowrap;
      @include fluid-type(380px, $maxWidth, 14px, 18px);
    }
  }
  &__tooltip-arrow{
    display:flex;
    position: absolute;
    bottom:-12px;
    left: 50%;
    transform:translateX(-50%);
    @include breakpoint(sm){
      transform:translateX(-50%);
    }
  }
  &__tooltip-corner--topright,
  &__tooltip-corner--topleft
  {
    width: 19px;
    height: 12px;
    overflow: hidden;
    position: relative;
  }
  &__tooltip-corner--topright:before,
  &__tooltip-corner--topleft:before {
    content: "";
    display: block;
    width: 200%;
    height: 200%;
    position: absolute;
    border-radius: 50%;
  }

  &__tooltip-corner--topleft:before {
    top: 0;
    left: 0;
    box-shadow: -8.5px -6px 0 0 #000;
  }

  &__tooltip-corner--topright:before {
    top: 0;
    right: 0;
    box-shadow: 8.5px -6px 0 0 #000;
  }

  //########################## MAP END
  //########################## DIGEST

  &__digest {
    display:grid;
    grid-template-columns: calc(33% - 15px) 67%;
    grid-template-rows: repeat(5, auto);
    column-gap: 15px;
    padding-bottom: 120px;
    @include breakpoint(lg){
      display: flex;
      flex-direction: column;
    }
    @include breakpoint(md){
      padding-bottom: 64px;
    }
  }

  &__digest-desc {
    @extend .portfolio__map-left-content;
    grid-column: 1/2;
    grid-row: 1/3;
    @include breakpoint(lg){
      order:2;
      margin-bottom: 0;
    }
  }

  &__line-wrapper {
  }

  &__digest-subtitle {
    @extend .portfolio__map-subtitle;
  }
  &__digest-title{
    grid-column: 2/3;
    grid-row: 1/2;
  }
  &__digest-delimiter-wrapper{
    padding: 46px 0 50px;
    @include breakpoint(lg){
      padding: 40px 0;
    }
    @include breakpoint(sm){
      padding: 32px 0;
    }
    /*hr{
      @extend .portfolio__map-delimiter;
      margin-top: 46px;
      margin-bottom: 50px;
      @include breakpoint(lg){
        margin: 40px 0;

      }
      @include breakpoint(md){
        display: inline-block;
      }
      @include breakpoint(sm){
        margin: 32px 0;
      }
    }*/

    grid-column: 2/3;
    grid-row: 2/3;
    @include breakpoint(lg){
      order: 3;
    }
  }
  &__digest-title {
  }

  &__digest-circle-block {
    grid-column: 1/2;
    grid-row: 3/6;

    @include breakpoint(lg){
      order: 5;
    }
  }
  .alert{
    align-items: start;
  }
  &__digest-elem-alert{
    @include breakpoint(lg){
      order: 6;
    }
    .item-delimiter{
      margin: 54px 0 42px;
      
      @include breakpoint(md){
        margin-top: 46px;
      }
      @include breakpoint(sm){
        margin:  32px 0 40px;

      }
    }

  }

  &__circles {
    position: relative;
    bottom: 60px;
    @include breakpoint(lg){
      padding-top: 60px;
    }
  }

  &__digest-circle-block{
    display: flex;
    align-items: end;
    @include breakpoint(lg){
      margin: 0 auto 32px;
    }
    @include breakpoint(sm){
      margin-bottom: 64px;
    }
  }

  &__black-circle {
    position: relative;
    z-index: 1;
    width: 338px;
    height: 338px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    padding-left: 55px;

    @include breakpoint(xs38){
      width: calc(100vw - 32px);
      height: calc(100vw - 32px);

    }
  }
  &__black-circle-inner{
    display: flex;
    flex-direction: column;
    row-gap: 20px;


  }
  &__circle-txt {
    font-weight: 700;
    font-size: 18px;
    line-height: 145%;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  &__socials {
    display: flex;
    column-gap: 24px;
  }

  &__social--telegram,&__social--whatsapp{
    display:flex;


    &:hover{
      svg{
        transform:scale(1.2);
      }
    }

  }
  &__social--telegram {
    svg{
      transition: .3s ease-in-out;
      path{
        stroke: #fff;
      }
    }
  }

  &__social--whatsapp {
    svg{
      transition: .3s ease-in-out;
      path{
        fill:#fff;
      }
    }
  }

  &__common-circle {
    width: 338px;
    height: 338px;
    border: 1px solid #000;
    border-radius: 50%;
    position: absolute;

    @include breakpoint(xs38){
      width: calc(100vw - 32px);
      height: calc(100vw - 32px);
    }

    &:nth-of-type(2){
      bottom: -30px;
      @include breakpoint(lg){
        left: calc(100vw / -7);
        bottom: 0;
      }
      @include breakpoint(sm){
        left: 0;
        bottom: -30px;
      }
    }
    &:nth-of-type(3){
      bottom: -60px;
      @include breakpoint(lg){
        left: calc(100vw / 7);
        bottom: 0;
      }
      @include breakpoint(sm){
        left: 0;
        bottom: -60px;
      }
    }
  }

  &__digest-main-content {
    @include breakpoint(lg){
      order:4;
    }
  }

  &__digest-delimiter {
  }

  &__digest-txt {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 40px;
    @include breakpoint(sm){
      row-gap: 25px;
      margin-bottom: 64px;
    }
  }

  &__digest-paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    color: #000000;

  }

  &__digest-subtitle-wrapper {
    width: 100%;
    border-top: 1px solid #000;

  }

  &__digest-elements-subtitle {
    background-color: #000;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 6px 16px;
    width: fit-content;
    @include fluid-type(380px, $maxWidth, 16px, 18px);
    margin-bottom: 48px;

    @include breakpoint(md){
      margin-bottom: 32px;
    }
    @include breakpoint(sm){
      margin-bottom: 24px;
    }
  }

  &__elements {
    display: flex;
    column-gap: 15px;

    @include breakpoint(sm){
      flex-direction: column;
      row-gap: 14px;
    }

  }

  &__elements-col {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    @include breakpoint(sm){
      row-gap: 14px;
    }
  }
  /*&__digest-element-delimiter{
   @extend .portfolio__map-delimiter;

    margin-top: 54px;
    margin-bottom: 42px;
    @include breakpoint(lg){
      display: inline-block;
    }
    @include breakpoint(md){
      margin-top: 46px;
    }
    @include breakpoint(sm){
      margin: 32px 0 40px;

    }
  }*/
  &__element-wrapper {
    display: flex;
    column-gap: 16px;
  }

  &__checkbox-wrapper {
  }

  &__element-name {
    max-width: 240px;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    color: #000000;
    @include breakpoint(sm){
      max-width: 100%;
    }
  }



  //########################## DIGEST END
}