.possibility {

  @include breakpoint(md){
    padding-left: 20px;
    padding-right: 20px;
  }
  @include breakpoint(sm){
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 52px;
  }
  &__row {
    //display: flex;
    max-width: 67%;
    margin-left: auto;

    @include breakpoint(md){
      max-width: 100%;
    }
  }

  .question {
    margin: 0 0 40px;
  }

  .question-inner {
  }

  .question-mark {
  }

  .question-txt {
  }

  .corners-wrapper {
    @include breakpoint(md){
      left: 21px;
      transform: unset;
    }
  }

  .corner--topleft {
  }

  .corner--topright {
  }

  &__title {
    margin-bottom: 52px;
    @include breakpoint(sm){
      margin-bottom: 40px;
    }
  }

  &__table {
    display: flex;
    @include breakpoint(lg){
      flex-wrap: wrap;
    }
    @include breakpoint(md){
      flex-wrap: nowrap;
    }
    @include breakpoint(sm){
      flex-direction: column;
    }
  }

  &__table-col {
    display: flex;
    flex-direction: column;
    flex-basis: 33.33%;


    &:nth-child(1){
      .possibility__table-body{
        padding-left: 0;
        border-right: 1px solid #000;

        @include breakpoint(sm){
          border-right: 0;
          border-bottom: 0;
        }
      }
    }
    &:nth-child(2){
      .possibility__table-body{
        border-right: 1px solid #000;
        @include breakpoint(sm){
          border-right: 0;
          padding-left: 0;
          border-bottom: 0;
        }
      }
    }
    &:nth-child(3){
      .possibility__table-body {
        @include breakpoint(sm){
          padding-left: 0;
        }
      }
    }
  }

  &__table-title {
    background-color: #000;
    padding: 3px 18px 6px;
    font-weight: 700;
    font-size: 18px;
    line-height: 145%;
    text-transform: uppercase;
    color: #FFFFFF;
    width: fit-content;
  }

  &__table-body {
    border-top:1px solid #000;
    border-bottom: 1px solid #000;
    padding: 32px 40px;
    flex: 1;
    font-weight: 700;
    font-size: 18px;
    line-height: 145%;
    text-transform: uppercase;
    color: #000000;

    @include breakpoint(lg){
      padding-right: 30px;
      padding-left: 30px;
    }
  }

  &__alerts {
    margin-top: 40.5px;
    display: flex;
    column-gap: 24px;

    @include breakpoint(sm){
      column-gap: 12px;
    }
  }

  &__exclamation-mark {
    width: 63px;
    min-width: 63px;
    height: 63px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    span{
      display: block;
      font-weight: 700;
      font-size: 48px;
      line-height: 145%;
      text-transform: uppercase;
      color: #FFFFFF;
      @include breakpoint(sm){
        font-size: 24px;
      }
    }
    @include breakpoint(sm){
      width: 32px;
      min-width: 32px;
      height: 32px;


    }
  }

  &__alerts-txt {
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    color: #000000;

    @include breakpoint(sm){
      margin-top: 6px;
    }
  }
}