.quality {

  padding-bottom: 120px;
  @include breakpoint(md){
    padding-left: 20px;
    padding-right: 20px;
  }
  @include breakpoint(sm){
    padding: 0 16px 64px;
  }

  &__row {
    display: flex;
    flex-direction: column;
    /*display: grid;
    grid-template-columns: 33% 1fr;
    grid-template-rows: auto;
    column-gap: 15px;*/

  }

  &__question-wrapper {
    flex-basis: 67%;
    margin-left: calc(33% + 15px);
    @include breakpoint(md){
      //order: 1;
      flex-basis: unset;
      margin-left: 0;
    }
  }

  .question {
    width: 100%;
    max-width: 575px;
    margin-bottom: 83px;

    @include breakpoint(sm){
      margin-bottom: 40px;
    }
  }

  .question-inner {
    padding: 26px 42px 24px 27px;
    @include breakpoint(sm){
      padding: 24px 17px 24px 24px;
      align-items: start;
    }

  }

  .question-mark {
    line-height: 1;
  }

  .question-txt {
    max-width: unset;
    @include breakpoint(sm){
      //padding-top: 13px;
    }
  }

  .corners-wrapper {
    @include breakpoint(md){
      left: 21px;
      transform: unset;
    }
  }

  .corner--topleft {
  }

  .corner--topright {
  }


  &__slider {
    display: flex;
    grid-column: 1/3;
    grid-row: 2/3;
  }

  &__slider--top {
    max-width: 100%;

    .slide__inner{
      display: grid;
      grid-template-columns: 33% 1fr;
      column-gap: 15px;

      @include breakpoint(md){
        grid-template-columns: 1fr;
      }
    }

  }
  &__slider--bottom {
    //flex-basis: 67%;
    max-width: 67%;
    margin-right: unset;
    margin-left: calc(33% + 15px);
    margin-top: 48px;

    @include breakpoint(lg){
      margin-left: unset;
      width: 100%;
      max-width: 100%;
    }
    @include breakpoint(sm){
      margin-top: 40px;
    }

    .quality__slider{

    }

    .slide__inner{
      display: flex;
      column-gap: 45px;
      @include breakpoint(xl){
        column-gap: calc(100vw / 27.27);
      }
      @include breakpoint(sm){
        flex-direction: column;
        row-gap: 40px;
      }
    }

  }

  .swiper {
  }

  &__slider--inner {
  }

  .swiper-wrapper {
  }

  &__slide {
  }

  .swiper-slide {
  }

  .slide {
    //column-gap: 15px;
    &__img-wrapper {
      grid-row: 1/3;
      @include breakpoint(md){
        display: flex;
        justify-content: center;
        grid-row: auto;
      }
      @include breakpoint(sm){
        margin-top: 24px;
      }
    }

    &__img {

    }

    /*&__content {
      flex-basis: 67%;
    }*/
    &__title, &__list{
      grid-column: 2/3;
      @include breakpoint(lg){
        grid-column: auto;
      }
    }
    &__title {

      @include breakpoint(md){
        grid-row: 1/2;
      }
      @include breakpoint(sm){
      }
    }

    &__list {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      @include breakpoint(md){
        grid-row: 3/4;
        margin-top: 32px;
      }
      @include breakpoint(sm){
        margin-top: 24px;
        row-gap: 15px;
      }
    }

    &__item {

      display: flex;
      column-gap: 12px;
    }

    &__question-mark {
      width: 28px;
      height: 28px;
      min-width: 28px;
      background-color: #000;
      border-radius: 50%;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 145%;
      text-transform: uppercase;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__paragraphs {
    }

    &__paragraph {
      font-weight: 400;
      font-size: 18px;
      line-height: 145%;
      /* or 26px */


      color: #000000;

    }

    &__txt--bold {
      font-weight: 700;
    }
  }

  &__sliders-delimiter {

  }

  .sliders-delimiter {
    flex-basis: 67%;
    margin-left: calc(33% + 15px);
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    border-bottom: 1px solid #000;

    @include breakpoint(lg){
      flex-basis: unset;
      margin-left: unset;
    }
    @include breakpoint(sm){
      column-gap: 8px;
    }
    &__question {
      font-weight: 700;
      font-size: 18px;
      line-height: 18px;
      text-transform: uppercase;
      background-color: #000;
      padding: 6px 9.5px;
      color: #fff;
      @include fluid-type(380px ,$maxWidth, 16px , 18px);
    }
  }

  &__slider-nav {
  }

  .slider-nav {
    padding-right: 5px;
    display: flex;
    column-gap: 16px;
    align-items: center;
    @include breakpoint(sm){
      column-gap: 8px;
      padding-right: unset;
    }
    &__btn {

    }

    &__btn--prev {
    }

    &__pagination {
      font-weight: 400;
      font-size: 18px;
      line-height: 18px;
      text-transform: uppercase;
      white-space: nowrap;
      @include fluid-type(380px, $maxWidth, 14px, 18px);

    }

    &__btn--next {
    }
  }



  .slide__txt-wrapper {
    display: flex;
    align-items: start;
    column-gap: 17px;
    @include breakpoint(sm){
      column-gap: 12px;
    }
  }

  .slide__exclamation-point {
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 1;
    width: 63px;
    height: 63px;
    min-width: 63px;
    text-transform: uppercase;
    margin-top: 3px;
    @include fluid-type(380px, $maxWidth, 24px, 48px);
    @include breakpoint(sm){
      width: 32px;
      min-width: 32px;
      height: 32px;
      margin-top: 0;
    }
  }

  .slide__alert-msg {
    margin-top: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    color: #000000;

  }

  .slide__more-btn {
  }
}