.reviews {

  padding-bottom: 120px;
  @include breakpoint(md){
    padding-left: 20px;
    padding-right: 20px;
  }
  @include breakpoint(sm){
    padding-left: 16px;
    padding-right: 16px;
  }
  &__row {
    display: grid;
    grid-template-columns: 33% 1fr;
    column-gap: 15px;
    min-width: 0;
    @include breakpoint(lg){
      display: flex;
      flex-direction: column;
    }
    /*@include breakpoint(lg){
      display: flex;
      flex-direction: column;
    }*/
  }

  &__circle-block {
    @include breakpoint(lg){
      display: none;
    }
  }

  &__circle-inner {
    position: relative;
  }

  &__circle-black {
    width: 338px;
    height: 338px;
    background-color: #000;
    border-radius: 50%;


  }

  &__circle-txt-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 18px;
    //margin-top: 115px;
    padding-top: 115px;
    margin-left: 72px;
    max-width: 235px;
  }

  &__circle-txt {
    font-weight: 700;
    font-size: 18px;
    line-height: 145%;
    text-transform: uppercase;
    color: #FFFFFF;

  }

  &__svg-wrapper {
    cursor:pointer;

    svg {
      position: relative;

      path{
        fill: #fff;
      }
    }
    &:hover{
      svg{
        left: 5px;
      }
    }
  }

  &__circle-common {
    position: absolute;
    width: 338px;
    height: 338px;
    border:1px solid #000;
    border-radius: 50%;
    &:nth-of-type(2){
      bottom: -30px;
    }
    &:nth-of-type(3){
      bottom: -60px;
    }
  }

  &__right-content {
    min-width: 0;
  }

  &__title-wrapper {
    //border-bottom: 1px solid black;
    /*padding-bottom: 35px;
    @include breakpoint(sm){
      padding-bottom: 24px;
    }*/
    .item-delimiter{
      margin-top: 35px;
      @include breakpoint(sm){
        margin-top: 24px;
      }
    }
  }

  &__title {
  }

  &__slider {
  }

  .swiper {
  }

  &__slider-inner {
    padding: 44px 0 32px;

  }

  .swiper-wrapper {
  }

  &__slide {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    @include breakpoint(md){
      column-gap: 30px;
    }
    @include breakpoint(sm){
      flex-direction: column;
    }
  }

  &__gratitude-svg-wrapper{
    position: absolute;
    background-color: #000;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    cursor: pointer;
    transition: filter .2s ease-in-out;

    svg{
      path{
        fill:#fff;
      }
    }

  }

  &__reviewer-info {

    @include breakpoint(sm){
      margin-bottom: 24px;
    }
  }

  &__reviewer-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 145%;
    text-transform: uppercase;
    color: #000000;
  }

  &__stars-rating {
    display: flex;
    margin-top: 15px;
    column-gap: 2px;
    @include breakpoint(sm){
      margin-top: 12px;
    }
  }



  &__star-wrapper {
    display: flex;
  }

  &__star-active {
  }

  &__comment {
    flex-basis: 74%;
    display: flex;
    flex-direction: column;
    row-gap: 26px;
    @include breakpoint(md){
     flex-basis: unset;
    }
    @include breakpoint(sm){
      row-gap: 22px;
    }
  }

  &__comment-paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    color: #000000;

  }

  &__slider-nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    align-items: end;
    grid-column: 2/3;


  }

  &__slider-nav-source {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #000;
    padding:6px 16px;
    max-width: 60%;

    @include fluid-type(380px, $maxWidth, 16px, 18px);
    @include breakpoint(sm){
      max-width: 130px;
    }

  }

  &__slider-nav-inner {
    display: flex;
    column-gap: 16px;
    align-items: center;
    padding: 6px 5px 6px 16px;
  }

  &__btn-prev {
  }

  &__slider-pagination {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    position: static !important;

    @include breakpoint(xs38){
      display: none;
    }
  }

  &__btn-next {
  }
  //##################### GRATITUDE

  &__gratitude-desc {
    @extend .portfolio__digest-desc;
    grid-row: 2/3;
    padding-top: 120px;

    @include breakpoint(lg){
      order:3;
    }
    @include breakpoint(sm){
      padding-top: 64px;
    }

  }

  &__line-wrapper {
  }

  &__gratitude-subtitle {
  }

  &__gratitude {
    padding-top: 120px;
    min-width: 0;

    @include breakpoint(lg){
      order:4;
      padding-top: 64px;
    }
    @include breakpoint(sm){
      padding-top: 24px;
    }

    .swiper-slide {
      position: relative;

      /*&:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(rgba(0,0,0, .4));
        transition: opacity .3s ease-in-out;
      }*/
    }
  }

  &__gratitude-slider {

  }

  &__gratitude-slider-inner {
  }

  &__gratitude-slide {
    width:fit-content;

    &:hover{
      @media screen and (min-width: 576px){
        .reviews__gratitude-svg-wrapper{
          filter: invert(1);
          box-shadow: 0 0 10px rgba(0, 0, 0, .4);
        }
      }
    }
  }

  &__gratitude-img-wrapper {
    max-width: 385px;


    @media screen and (min-width: 576px) {
      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(rgba(0,0,0, .4));
        transition: opacity .3s ease-in-out;
      }
      &:hover{
        &:before{
          z-index: -1;
          opacity: 0;
        }
      }
    }

  }

  //##################### GRATITUDE END
}