.services{
  overflow-x: hidden;
  padding-bottom: 120px;

  @include breakpoint(md){
    padding-left: 20px;
    padding-right: 20px;
  }
  @include breakpoint(sm){
    padding: 0 16px 64px;
  }



  &__row {
    
  }

  &__circles {
    display: flex;
    flex-direction: column;
    padding-bottom: 165px;
    padding-top: 100px;
    @include breakpoint(xl){
      padding-bottom: calc( 100vw / 10 );
    }
    @include breakpoint(md){
      margin-bottom: -150px;
    }
    @include breakpoint(sm){
      padding-top: 50px;
    }
  }

  &__circles-line {
    min-height: calc(446px - 115px);
    position: relative;

    @include breakpoint(xl){
      min-height: calc( 446px - (100vw / 14));
    }
    @include breakpoint(md){
    }
  }

  &__circles-line--start {
    @include breakpoint(md){
      .services__circle:last-child{
        top: -25px;
      }
    }
  }

  &__circle {
    width: 446px;
    height: 446px;
    //width: 100%;
    //height: 100%;
    border:1px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    //align-items: center;
    position: absolute;
    transition: .3s ease-in-out;
    color:#000;
    padding-top: 114px;
    z-index: 2;
    
    @include breakpoint(xl){
      //width: calc(100vw / 2.69) ;
      //height: calc(100vw / 2.69) ;
      padding-top: calc(100vw / 10.52);

    }
    @include breakpoint(lg){
      width: 400px;
      height: 400px;
    }
    @include breakpoint(md){
      position: relative;
      top: 0;
      left: 0;
      right: unset;


    }
    @include breakpoint(sm){
      padding-top: 69px;
      width: calc(100vw - 100px);
      height: calc(100vw - 100px);
    }
    @include breakpoint(xs45){
      width: calc(100vw - 50px);
      height: calc(100vw - 50px);
    }
    @include breakpoint(xs38){
      width: calc(100vw - 32px);
      height: calc(100vw - 32px);
      justify-content: start;
      padding-left: 55px;
    }

    &:visited{
      .services__circle-item, .services__circle-title{
        color:#000;
      }
    }
    &:hover{
      background-color: #000;

      .services__circle-item, .services__circle-title{
        color:#fff;
      }
    }
  }
  &__circle-title, &__circle-txt{

  }
  &__circle-title {
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    @include fluid-type(380px, $maxWidth, 18px, 25px);
  }

  &__circle-list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  &__circle-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    text-decoration-line: underline;
    @include fluid-type(380px, $maxWidth, 16px, 18px);
  }

  &__circle-link {
  }
  &__circle-inner{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-width: 215px;

    @include breakpoint(sm){
      row-gap: 16px;
    }
  }

  &__circles-line--end, &__circles-line--start{

    .services__circle{

      &:first-child{
        left: 15%;

        @include breakpoint(xl){
          left: 8%;
          //left: calc(100vw / 8);
        }
        @include breakpoint(lg){
          //left: 2%;
        }
        @include breakpoint(md85){
          left: 2%;
        }
        @include breakpoint(md){
          left: unset;
        }

      }
      &:last-child{
        right: 15%;

        @include breakpoint(xl){
          right: 8%;
          //right: calc(100vw / 8);
        }
        @include breakpoint(lg){
         // right: 2%;
        }
        @include breakpoint(md85){
          right: 2%;
        }
        @include breakpoint(md){
          right: unset;
        }
      }
    }
  }
  &__circles-line--middle{

    .services__circle{

      &:nth-child(2){
        left: 50%;
        transform:translateX(-50%);
        @include breakpoint(xl){
          bottom: calc(100vw / -14);
        }
        @include breakpoint(md){
          bottom: unset;
          left: unset;
          transform: unset;
        }
      }
      &:last-child{
        right: 0;
        @include breakpoint(xl){
          right: 8%;
        }
        @include breakpoint(md85){
          right: 2%;
        }
        @include breakpoint(md){
          right: unset;
        }
        @include breakpoint(sm){
          .services__circle-list{
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 10px;
          }
        }
      }
      &:first-child{
        left: 0;
        @include breakpoint(xl){
          left: 8%;
        }
        @include breakpoint(md85){
          left: 2%;
        }
        @include breakpoint(md){
          left: unset;
        }
        @include breakpoint(sm){

        }
      }
      @include breakpoint(md){
        &{
          $middleLinePadding: -50px;
          top: $middleLinePadding;

          @for $i from 1 through 2{
            &:nth-child(#{$i + 1}){
              top: $middleLinePadding + (-25px * $i);
            }
          }
        }
      }
    }
    @include breakpoint(xl){
      min-height: calc( (446px * 2) - (100vw / 14) * 2);
    }
    @include breakpoint(lg){
      min-height: calc( (400px * 2) - (100vw / 14) * 2);
    }

  }
  &__circles-line--end {
    $endLinePadding: -125px;

    @include breakpoint(md){

      .services__circle{

        &:first-child{
          top: $endLinePadding;
        }
        &:last-child{
          top: $endLinePadding - 25px;
          //$endLinePadding: -50px;
          //top: $middleLinePadding;


        }
      }
    }
  }
  &__circles-line--start, &__circles-line--end, &__circles-line--middle{
    @include breakpoint(md){
      .services__circle{
        margin: 0 auto;
      }


    }

  }
  &__slogan-outer {
  }

  &__braces-wrapper {
  }

  &__brace {
  }

  &__slogan {
    max-width: 600px;
    width: 100%;
    margin: 90px auto 0;
    @include breakpoint(xl){
      max-width: calc(100vw / 2);
      min-width: 300px;
    }
    @include breakpoint(xs38){
      max-width: 300px;
      min-width: unset;
    }

  }

  &__p-slogan {
    font-weight: 700;
    font-size: 50px;
    line-height: 115%;
    text-transform: uppercase;
    color: #000000;
    position: relative;
    width: fit-content;
    margin: 0;
    transition: opacity .6s ease-in-out, transform .6s ease-in-out;
    @include fluid-type(380px, $maxWidth, 26px, 50px);

    &:first-child{

    }
    &:nth-child(2){
      margin: 0 100px 0 auto;
      @include breakpoint(lg){
        margin-right: 75px;
      }
      @include breakpoint(md){
        margin-right: 35px;
      }
      @include breakpoint(sm){
        margin-right: 45px;
      }
    }
    &:nth-child(3){
      margin: 0 auto 0 100px;
      @include breakpoint(lg){
        margin-left: 75px;
      }
      @include breakpoint(md){
        margin-left:  40px;
      }
      @include breakpoint(sm){
        margin-left: 50px;
      }
    }
    &:last-child{
      right: 0;
      margin-left: auto;
    }
    &:nth-child(even){
      opacity: 0;
      transform:translateX(100px);
      @include breakpoint(sm){
        transform:translateX(30px);
      }
    }
    &:nth-child(odd){
      opacity: 0;
      transform:translateX(-100px);
      @include breakpoint(sm){
        transform:translateX(-30px);
      }
    }
  }

  &__btn {
    width: 208px;
    height: 208px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 18px;
    padding-top: 68px;
    margin: 50px auto 0;
    background-color: #000;
    transition: .3s ease-in-out;
    cursor: pointer;
    position: relative;
    animation-name: btnPulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    &:hover{
      animation-play-state: paused;
      box-shadow: 0 0 15px rgba(0,0,0,.4);
      background-color: #333333;
      .services__svg-wrapper{
        top: 10px;
      }
    }
    &:active{
      background-color: #000;
      top: 8px;
    }

  }

  &__btn-txt {
    color:#fff;
    text-align: center;
    max-width: 120px;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
  }

  &__svg-wrapper {
    position: relative;
    transition: .2s ease-in-out;


  }
}
@keyframes btnPulse {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.15);
  }
  100%{
    transform: scale(1);
  }
}
@keyframes scaleCircles {
  0%{
    transform:scale(1);
  }
  50%{
    transform:scale(1.05);
  }
  100%{
    transform:scale(1);
  }
}

@keyframes scaleMiddleCircles {
  0%{
    transform:scale(1) translateX(-50%);

  }
  50%{
    transform:scale(1.05) translateX(-50%);
  }
  100%{
    transform:scale(1) translateX(-50%);
  }
}
